/*首页-头部*/
.PersonalCenter-sel{position: absolute;right: 0;}
.PersonalCenter-sel select{width: 235px;height: 30px;margin-top: 15px;padding-left: 5px;color: #646464;border: 0;box-shadow:inset 0 0 6px #999;}

/*首页-侧边栏*/
.PersonalCenter-main-l .company-center{background:url(images/icon-list-host.png) 20px center no-repeat;}
.PersonalCenter-main-l .house-center{background:url(images/icon-list-bigHouse.png) 20px center no-repeat;}
.PersonalCenter-main-l .sale-center{background:url(images/icon-list-bag.png) 20px center no-repeat;}
.PersonalCenter-main-l .buy-center{background:url(images/icon-list-buyCar.png) 20px center no-repeat;}
.PersonalCenter-main-l .msg-center{background:url(images/icon-list-msg.png) 20px center no-repeat;}
.PersonalCenter-main-l .person-center{background:url(images/icon-list-person.png) 20px center no-repeat;}
.PersonalCenter-main-l dl.sale-center-detail{padding: 0;background: #edf5fc;border-top: 1px solid #e5e5e5;border-bottom: 1px solid #e5e5e5;}
.icon-preBottom{width: 15px;height: 9px;display: inline-block;background: url(images/icon-preBottom.png) no-repeat center;margin-left: 5px;}
.icon-preBottom.current{background: url(images/icon-preTop.png) no-repeat center;}
.icon-preTop{width: 15px;height: 9px;display: inline-block;background: url(images/icon-preTop.png) no-repeat center;margin-left: 5px;}
.icon-preTop{background: url(images/icon-preTop.png) no-repeat center;}

/*房地厂商-首页*/
.height298{ height:298px;}
.authentication-pic{vertical-align: top;}
.personal-level-house li{display: block;}
.personal-level-house .myCenterLink{display: inline-block;margin-left: 5px;}
.personal-level-house li{margin-top: 4px;}
.waitOrder-title{background: #93c33b;color: #fff;padding: 10px 15px;font-size: 16px;font-weight: 400;}
.waitOrder-title img{margin-right: 5px;vertical-align: middle;}
.table-orderDetail{width: 100%;border: 1px solid #93c33b;border-collapse: collapse;}
.table-orderDetail tr td{text-align: center;border-right: 1px solid #e5e5e5;padding-bottom: 5px;border-bottom: 1px solid #93C33B;cursor: pointer;}
.table-orderDetail tr td.last{border-right: none;}
.table-orderDetail tr.first td{border-bottom: 1px solid #e5e5e5;}
.table-orderDetail tr td span{display: block;font-size: 14px;padding: 5px 0 0px;}
.tableUserLink table{border-collapse: collapse;border: 1px solid #d1c5db;width: 100%;}
.tableUserLink table tr td{text-align: center;border: 1px solid #d1c5db;padding: 10px 0;cursor: pointer;padding: 8px 0\0;}
.tableUserLink table tr td.last{border: none;}
.tableUserLink table tr td .icon-userList{display: block;margin: 0 auto;width: 50px;height: 50px;}
.tableUserLink table tr td .icon-userList01{background: url(images/icon-userList01.png) no-repeat center;}
.tableUserLink table tr td .icon-userList02{background: url(images/icon-userList02.png) no-repeat center;}
.tableUserLink table tr td .icon-userList03{background: url(images/icon-userList03.png) no-repeat center;}
.tableUserLink table tr td .icon-userList04{background: url(images/icon-userList04.png) no-repeat center;}
.tableUserLink table tr td .icon-userList05{background: url(images/icon-userList05.png) no-repeat center;}
.tableUserLink table tr td .tableUserLink-txt{display: block;color: #a3a3a3;font-size: 14px;padding-bottom: 10px;}
.newOrderMsg h3{font-size: 16px;font-weight: 400;}
.newOrderMsg img{vertical-align: middle;margin-right: 10px;}
.table-newOrderMsg table{width: 100%;border: 1px solid #c7d7eb;border-collapse: collapse;}
.table-newOrderMsg table thead tr{}
.table-newOrderMsg table tr th{background: #c7d7eb;font-size: 14px;padding: 10px 0 15px;}
.table-newOrderMsg table tr td{border: 1px solid #c7d7eb;text-align: center;font-size: 14px;padding: 10px 0;}
.agencyOrder{padding: 10px;border: 1px solid #e5e5e5;}
.agencyOrder h3{font-size: 16px;font-weight: 400;padding-left: 10px;}
.line-hr.mt5{margin-top: 5px;}
.agencyOrder-slide span.btn-pre{display: inline-block;width: 25px;height: 100px;cursor: pointer;}
.agencyOrder-slide span.preLeft{background: url(images/icon-preLeft.png) no-repeat center;cursor: pointer;position: absolute;left: 0px;top: 0px;}
.agencyOrder-slide span.preRight{background: url(images/icon-preRight.png) no-repeat center;position: absolute;right: 0px;top: 0px;}
.agencyOrder-slide .agencyOrder-slide-detail{float: left;margin-left: 50px;height: 100px;overflow: hidden;}
.agencyOrder-slide-detail .agencyOrder-slide-list{float: left;display: inline-block;margin-right: 55px;cursor: pointer;}
.agencyOrder-slide-detail .agencyOrder-slide-list img{float: left;border: 1px solid #e5e5e5;}
.agencyOrder-slide-detail .agencyOrder-slide-txt{float: left;}
.agencyOrder-slide-txt span.agencyOrder-txt{display: block;font-size: 14px;}
.agencyOrder-slide-txt{margin-left: 10px;}
.agencyOrder-slide-txt .agencyOrder-phone{margin-top: 5px;}
.agencyOrder-slide-txt .agencyOrder-type {margin-top: 10px;}
.agencyOrder-slide-txt span.agencyOrder-company{color: #000;font-weight: 800;}
.agencyOrder-slide-txt span.agencyOrder-phone img{vertical-align: top;display: inline-block;margin-top: 5px;border: none;margin-right: 5px;}
.see-more a.blue{color: #4491dc;}
.dataChatWrap .datachat{border: 1px solid #e5e5e5;padding: 10px 15px;width: 45%;height: 410px;}
.dataChatWrap .datachat h3{font-size: 16px;font-weight: 400;}
.dataChatTendency .dataChatT01{padding: 10px 15px;border: 1px solid #e5e5e5;}
.dataChatTendency .dataChatT01 h3{font-size: 16px;font-weight: 400}
.dataChatTendency .dataChatT01 .dataChatT01-time{float: right;}
.dataChatTendency .dataChatT01 .dataChatT01-time a{color: #808080;display: inline-block;padding-left: 10px;font-size: 14px;}
.dataChatTendency .dataChatT01 .dataChatT01-time a:hover,.dataChatTendency .dataChatT01 .dataChatT01-time a.active{color: #72c2fd;text-decoration: none;}
.dataChatTendency .dataTips span{display: inline-block;padding: 10px 30px;border-radius: 5px;color: #fff;margin-right: 10px;}
.dataChatTendency .dataTips .tip01{background: #008e8e;}
.dataChatTendency .dataTips .tip02{background: #8bba00;}
.dataChatTendency .dataTips .tip03{background: #ffd046;}
.dataChatTendency-chat{text-align: center;}
.agencyOrder-slide .tempWrap{width: 850px!important;margin-left: 70px;}
.agencyOrder-slide{position: relative;}


/*我的账户*/
.house-coin .coin-text p.p_2 a{margin-left: 10px;line-height: 20px;}
.house-coin .coin-text p.p_2 em.blue{color: #4491dc;}
.house-coin .coin-text p.p_2 em.gray{color: #666;}
.house-coin .coin-text{margin-right: 60px;}
.house-coin-table table{border: none;}
.recent-record-nav li:hover,.recent-record-nav li.active{background: #fff;border-bottom: none;}
.house-coin-table table tbody tr td{border: none;}
.house-coin-table table tbody tr:nth-child(even) td{background: #f5f8fa;}
.recent-nav-l .recent-time li:hover,.recent-nav-l .recent-time li.active{background: #949494;color: #fff;}

/*房地厂商-找代理人-代理人广场*/
.breadcrumb li{float: left;display: inline-block;margin-right: 5px;}
.breadcrumb li,.breadcrumb li a{color: #888888;font-size: 12px;}
.areaAgency{width: 75%;}
.areaAgency-tab{border-bottom: 2px solid #f7941d;}
.areaAgency-tab li{float: left;}
.areaAgency-tab li a{display: inline-block;padding: 10px 30px;color: #000;font-size: 18px;}
.areaAgency-tab li a:hover,.areaAgency-tab li.active a{background: #f7941d;color: #fff;text-decoration: none;}
.listTxt{padding-top: 20px;border: 1px solid #dcdcdc;}
.listTxt .listTxt-list{padding-left: 25px;height: 40px;line-height: 40px;}
.listTxt .listTxt-list dt,.listTxt .listTxt-list dd{float: left;display: inline-block;margin-right: 30px;}
.listTxt .listTxt-list dd a{color: #333333;font-size: 12px;}
.listTxt .listTxt-list dd.first a{color: #999;}
.listTxt .listTxt-list dd a:hover,.listTxt .listTxt-list dd.active a{color: #f7941d;text-decoration: none;}
.listTxt .listTxt-list-default{background: #f9f9f9;border-top: 1px solid #e5e5e5;}
.listTxt .listTxt-list-default  dd img{vertical-align: middle;margin-left: 5px;}
.listTxt .listTxt-list-default  dd,.listTxt .listTxt-list-default  dt{float: left;}
.listTxt .listTxt-list-default  dd.search-agency{float: right;}
.search-agency input{+width: 210px;width: 230px;height: 30px; line-height:30px;border:1px solid #e5e5e5;padding-left: 10px;}
.search-agency{position: relative;}
.search-agency  a{position: absolute;right: 10px;top: 50%;margin-top: -7px;}
.listTxt .listTxt-list dd.search-agency{margin-right: 10px;margin-top: 3px;}
.houseAgency-list{border: 1px solid #e5e5e5;}
.houseAgency-list-bosy {padding: 20px 10px 20px 20px;}
.houseAgency-list-bosy img.houseAgency-img{float: left;padding: 5px 10px;border: 1px solid #e5e5e5;width: 100px;height: 100px;}
.houseAgency-list-bosy .houseAgency-list-bosy-detail{float: left;}
.houseAgency-list-bosy-detail{margin-left: 20px;}
.houseAgency-list-bosy-detail h3{font-size: 16px;}
.houseAgency-list-bosy-detail h3 .houseAgency-title{display: inline-block;min-width: 130px;}
.houseAgency-list-bosy-detail h3 img{vertical-align: middle;margin-left: 10px;margin-right: 5px;cursor: pointer;}
.houseAgency-list-bosy-detail p span{font-size: 14px;}
.houseAgency-list-bosy-detail p {height: 30px;line-height: 30px;}
.houseAgency-list-bosy-detail p a.seeMore{display: inline-block;padding-left: 20px;color: #89C1F7;}
.btn-agency a{display: inline-block;padding: 5px 20px;background: #f37e00;color: #fff;border-radius: 2px;margin: 20px 10px 0 0;}
.starAgency{width: 20%;}
.starAgency-man{border: 1px solid #e5e5e5;padding: 15px 10px;}
.starAgency-man h3{font-size: 16px;}
.starAgency-man-list img{float: left;width: 54px;height: 54px;}
.starAgency-man-list .starAgency-man-list-detail{float: left;margin-left: 15px;}
.starAgency-man-list .starAgency-man-list-detail h3{font-weight: 400;font-size: 12px;vertical-align: top;}
.starAgency-man-list .starAgency-man-list-detail p{color: #999;}
.starAgency-news{border: 1px solid #e5e5e5;padding: 15px 10px;}
.starAgency-news h3{font-size: 16px;}
.starAgency-news p{font-size: 14px;color: #999;line-height: 25px;}
.starAgency-news p .news-success{color: #999;padding: 0 10px;}
.starAgency-news p .news-company{color: #666;}
.starAgency-news-time span{float: right;color: #999;}
.line-hr-new{width: 100%;height: 1px;background: url(images/news-line.png) repeat-x center;}
.areaAgency .page{margin-right: 0px;}



/*代理商主页*/
.maiCompanyIndex-data-call {padding: 50px 20px;border: 1px solid #e5e5e5;width:513px;box-sizing: border-box; height:268px;}
.maiCompanyIndex-data-call .maiCompanyIndex-data-call-img img.company-img{border: 1px solid #e5e5e5;padding: 3px 5px;width: 100px;height: 100px;}
.maiCompanyIndex-data-call .maiCompanyIndex-data-call-img a.btn-data{display: block;border: 1px solid #e5e5e5;padding: 0 5px;height: 35px;line-height: 35px;text-align: center;color: #999;}
.maiCompanyIndex-data-call-title{margin-left: 20px;}
.maiCompanyIndex-data-call-title h3{font-size: 18px;}
.maiCompanyIndex-data-call-title span{display: block;color: #999;font-size: 14px;}
.maiCompanyIndex-data-call-title span.tel-title{margin-top: 40px;}
.maiCompanyIndex-data-call-title span.tel-phone{font-size: 20px;color: #000;}
.maiCompanyIndex-data-call-btn .btn-agency{display: inline-block;padding: 5px 20px;background: #93c33a;color: #fff;}
.maiCompanyIndex-data-detail{border: 1px solid #e5e5e5;width:610px;+width:580px;box-sizing: border-box; height:268px; padding:50px 0;}
.maiCompanyIndex-data-circle .circle01-data{display: block;width: 165px;height: 165px;background: url(images/bg-data-circle.png) no-repeat center;position: relative;}
.maiCompanyIndex-data-circle .detail-data{display: block;text-align: center;font-size: 16px;}
.circle01-data .circle01-data-title{position: absolute;left: 50%;margin-left: -36px;top: 45px;}
.circle01-data .circle01-data-sum{width: 150px;display: inline-block;margin-top: 60px;text-align: center;}
.circle01-data .circle01-data-size{font-size: 48px;color: #000;font-weight: 800;padding-right: 2px;}
.detail-data{margin-top: 10px;}
.agency-wrap-other{position: relative;}
.agency-wrap-other .search-agency{position: absolute;right: 0px;top: 5px;}
.companyHouseDetail{padding: 20px;border: 1px solid #e5e5e5;padding-top: 0;padding-bottom: 300px;}
.areaAgency-tabCotent.active{display: block}
.companyHouseDetail-list-body{width: 75%;margin-left: 25px;position: relative;}
.companyHouseDetail-list-body h3{font-size: 18px;}
.companyHouseDetail-list-body h3 .agencyTime{font-size: 14px;color: #999;}
.companyHouseDetail-list-body p{font-size: 14px;line-height: 22px;padding-top: 10px;}
.companyHouseDetail-list-body p .companyHouseDetail-link{border: 1px solid #e87525;background: #fbe7ca;color: #e87525;padding: 0px 10px;margin-left: 5px;}
.companyHouseDetail-list-body .areaMoney{position: absolute;right: 0px;top: 30px;}
.companyHouseDetail-list-body .areaMoney .areaMoney-conut{font-size: 40px;color: #ff4400;}
.dot-line{width: 100%;height: 1px;background: url(images/dot-line.png) repeat-x center;}
.msg-list{line-height: 30px;font-size: 14px;}
.msg-list .msg-list-wrap{display: inline-block;padding-right: 20px;}
.msg-list .msg-list-wrap span.msg-list-title{color: #999;min-width: 90px;display: inline-block;text-align: right;}
.msg-list .msg-list-wrap span.msg-list-content{min-width: 200px;display: inline-block;max-width: 1000px;}
.msg-list .msg-list-content{color: #000;}
.msg-list-wrap{display: table;}
.msg-list-wrap span{display: table-cell;vertical-align: top;}
.icon-tips-star-sel{background: url(images/house-start-red.png) no-repeat center;display: inline-block;width: 12px;height: 12px;}
.btn-ass{padding: 5px 10px;display: inline-block;border: 1px solid #f7941d;background: #fff5e6;color: #000;}
.assStar{display: inline-block;margin-left: 70px;}
.assStar span{margin-left: 2px;}
.commet-leaveMsg-news.assList{margin-left: 0;margin-top: 20px;}
.assList-ass{height: 56px;text-align: right;}
.assTips{display: block;}
.assList-ass .assTips{margin-left: 0;}
.assList-ass .assTips-time{margin-top: 15px;}

/*代理商主页-找他代理弹窗*/
.windowContain{padding: 20px 30px;}
.companySel select{width: 160px;height: 35px;line-height: 35px;border: 1px solid #e5e5e5;border-radius: 4px;}
.companyTable{height: 316px;overflow-y:scroll;border: 1px solid #e5e5e5;}
.companyTable thead tr th{background: #f5f8fa;color: #546d7e;font-size: 14px;padding: 18px 0;}
.companyTable tbody{overflow: auto;}
.companyAnyser-msg{display: table;width: 100%;}
.companyAnyser-msg .companyAnyser-msg-title{font-size: 14px;color: #414141;display: table-cell;vertical-align: top;width: 10%;float: left;text-align: right;padding: 5px 0 0 5px;box-sizing: border-box;}
.companyAnyser-msg .companyAnyser-msg-body{display: table-cell;width: 88%;float: right;box-sizing: border-box;}
.companyAnyser-msg textarea{width: 100%;display: inline-block;border: 1px solid #e5e5e5;font-size: 14px;color: #666666;padding: 5px 0 0 5px;box-sizing: border-box;height: 100px;}

/*房地厂商-交易中心-订单管理*/
.orderManage-list-tab{border: 1px solid #93c33b;}
.orderManage-list-tab li{float: left;display: inline-block;width:122px;}
.orderManage-list-tab li a{display: inline-block;width: 100%;text-align: center;padding: 8px 0;color: #666;}
.orderManage-list-tab li a:hover,.orderManage-list-tab li.active a{color: #414141;background: #e5f2cc;border-right: 1px solid #93c33b;border-left: 1px solid #93c33b;}
.orderManage-list-tab li.first a:hover,.orderManage-list-tab li.active.first a{border-left: none;}
.orderManage-list-tab li{position: relative;}
.orderManage-list-tab li .msg-tips{position: absolute;right: 10px;top: 10px;}
.orderManage-content-detail-head{background: #f5f8fa;border: 1px solid #e5e5e5;padding: 10px 20px;}
.orderManage-content-detail-head ul{padding-left:30px;}
.orderManage-content-detail-head ul li{float: left;}
.orderManage-content-detail-head ul li a{display: inline-block;font-size: 14px;margin-right: 80px;color: #546d7e;}
.orderMange-order-detail table thead tr th{text-align: left;padding: 10px 0;background: #fff;}
.orderMange-order-detail table .order-detail-msg{display: inline-block;margin-right: 40px;color: #777777;}
.orderMange-order-detail table .order-detail-msg.first{margin-left: 30px;}
.orderMange-order-detail table .order-detail-msg.last{margin-right: 0px;}
.order-detail-msg span img{vertical-align: middle;margin-left: 10px;cursor: pointer;}
.orderMange-order-detail table tbody tr td{padding: 10px 5px;}
.orderMange-order-detail .merMsgOne .merMsgOne-msg .merMsgOne-list{text-align: left;}
.orderMange-order-detail .privi .priviList{text-align: center;padding-bottom: 10px;}
.orderMange-order-detail .merMsgOne img{width: 116px;height: 80px;}
.orderMange-order-detail .merMsgOne .merMsgOne-msg{margin-left: 5px;}
.orderMange-order-detail .privi .priviList .btn-order{border: 1px solid #e5e5e5;padding: 2px 10px;display: inline-block;margin-left: 8px;color: #546d7e;}

/*房地厂商-交易中心-订单管理-用户申请预定中*/
.buyCenter table{border: none;}
.buyCenter table tbody tr td{text-align: left;}
.buyCenter table tbody tr.first td{border-top: 0;}
.btnOk a.blue{background: #3197de;}
.btnOrderPay a.red{background: #f84444;}
.reverse-order .gray{margin-top: 5px;font-size: 14px;}
.buyCenter .comment-body{margin-left: 0px;}
.buyCenter .comment-body-btn{margin-left: 140px;}

/*房地厂商-交易中心-订单管理-用户支付订金*/
.arrirmHouse .reverse-order-total .total-money{float: right;}
.comment-body-tips{margin-left: 50px;position: relative;}
.comment-body-ipt input{padding: 0px 10px;}
.comment-body .comment-body-title.lh37{height: 37px;line-height: 37px;}
.comment-body-ipt .comment-body-txt{display: inline-block;height: 37px;line-height: 37px;font-size: 14px;color: #414141;}
.buyCenter-money .comment-body .comment-body-title{min-width: 80px;}
.buyCenter-money .comment-body .comment-body-ipt input{min-width: 300px;}
.buyCenter-money .comment-body-btn.ml85{margin-left: 85px;}
.buyCenter-money .comment-body-btn .blue{background: #3197de;}
.adviceTips{width: 300px;height: 230px;box-sizing: border-box;padding: 30px 20px;background: #fef8f0;border: 1px solid #f6b37f;position: absolute;right: 20px;top: 0px;}
.adviceTips p{text-indent: 2em;line-height: 30px;color: #414141;}
.btn-ok-bk{border: 1px solid #e5e5e5;background: #fff;font-size: 14px;padding: 5px 15px;display: inline-block;color: #5AB3F1;}

/*房地厂商-交易中心-订单管理-申请延期*/
.buyCenter .comment-body-btn.ml85{margin-left: 85px;}
.btn-submit.blue{background: #4491dc;}
.comment-body-tips .comment-body-ipt input{min-width: 300px;}
.btn-ok .btn-submit{margin-right: 20px;}

/*房地产商-交易中心-订单管理-申请退款-卖家处理申请*/
.commet-problem-rel p{font-size: 14px;line-height: 30px;height: 30px;}
.commet-problem-rel .btn-ok{text-align: left;margin-top: 20px;margin-bottom: 20px;}

/*房地厂商-楼盘中心-楼盘管理*/
.btn-addHouse{padding: 5px 20px;border: 1px solid #e5e5e5;background: #f6f6f6;color: #3f3f3f;}
.houseMange-wrap ul li{float: left;display: inline-block;border: 1px solid #e5e5e5;padding: 10px 10px 20px;background: #f6f6f6;position: relative;margin: 20px 19px 0 0;}
.houseMange-wrap ul li{margin: 20px 14px 0 0\9;}
.houseMange-wrap ul li{margin: 20px 19px 0 0\0;}
.houseMange-wrap ul li{+margin: 20px 15px 0 0;}
.houseMange-wrap ul li:nth-child(4n){margin-right: 0px;}
.houseMange-wrap ul li.no-mr{margin-right: 0px;}
.houseMange-list span.img-wrap{width: 210px;height: 160px;display: inline-block;overflow: hidden;position: relative;margin-bottom: 10px;}
.houseMange-list span.img-wrap .cover-btn{position: absolute;left: 0px;bottom: 0px;width: 210px;}
.houseMange-list span.img-wrap .cover-btn .cover-btn-inner{width: 210px;padding: 8px 0;background: rgba(0,0,0,.5);display: inline-block;}
.houseMange-list span.img-wrap .cover-btn a{color: #fff;}
.btn-house{padding: 2px 10px;border-radius: 5px;color: #fff;margin: 0 10px;}
.btn-sub-house {background: #f14d50;}
.btn-edit-house{background: #93c33a;}
.btn-del-house,.btn-out-house {background: #7a7a7a;}
.house-state{position: absolute;right: 0px;top: 0px;width: 59px;height: 58px;}
.house-state-success{background: url(images/state-success.png) no-repeat;}
.house-state-wait{background: url(images/state-wait.png) no-repeat;}
.house-state-false{background: url(images/state-false.png) no-repeat;}
.houseMange-wrap ul li .house-title{font-size: 16px;color: #333;display: block;}
.houseMange-wrap ul li .house-area{font-size: 14px;color: #949494;}
/*背景透明，文字不透明*/
@media \0screen\,screen\9 {/* 只支持IE6、7、8 */
  .houseMange-list span.img-wrap .cover-btn .cover-btn-inner{
    background-color:#000;
    filter:Alpha(opacity=50);
    position:static; /* IE6、7、8只能设置position:static(默认属性) ，否则会导致子元素继承Alpha值 */
    *zoom:1; /* 激活IE6、7的haslayout属性，让它读懂Alpha */
  }
  .houseMange-list span.img-wrap .cover-btn .cover-btn-inner a{
    position: relative;/* 设置子元素为相对定位，可让子元素不继承Alpha值 */
  }  
}

/*房地厂商-楼盘中心-楼盘管理-弹窗*/
.msgSet.MSG-Setting  li input[type=text]{width: 250px;+width: 210px;}
.MSG-Setting.msgSet li label{min-width: 150px;}
.MSG-Setting.msgSet110 li label{min-width: 110px;}
.MSG-Setting.msgSet110 li .input-txt label{min-width:auto;}
.input-img .input-img-file{position: absolute;left: 0px;top: 0px;width: 110px;height: 100px;opacity: 0;filter:Alpha(opacity=0);}
.input-img .img-show{width: 110px;height: 100px;position: relative;}
.input-img .img-show img{width: 100%;height: 100%;}
.btn-upload-img{margin: 70px 0 0 20px;}
.btn-upload-img a{padding: 5px 10px;background: #93c33a;color: #fff;font-size: 14px;border-radius: 5px;display: inline-block;margin-right: 10px;}
.msgSet .up-tips{padding-left: 150px;font-size: 14px;color: #666;max-width: 370px;}

/*房地产商-楼盘中心-单元楼-楼栋编辑*/
.periodNum li{ height:29px; line-height:29px; border:#e5e5e5 solid 1px; border-bottom:0 none; display:inline-block; float:left;}
.periodNum li a{ padding:0 30px; color:#333; font-size:16px;}
.periodNum li:hover,.periodNum li.active{ height:30px; line-height:30px; background:#d2d2d2;}

/*房地产商-楼盘中心-单元楼-整栋编辑*/
.tips-state{margin-top: 0px;}
.level-state.tips-state ul li{margin-left: 40px;margin-right: 0px;margin-top: 8px;font-size: 14px;}
.jpgMap-content{border: 1px solid #e5e5e5;}
.jpgMap-content-upload{padding: 10px;}
.jpgMap-content-tips{padding-top: 10px;border-left: 1px solid #e5e5e5;height: 580px;padding-left: 18px;}
.jpgMap-content-tips .map-tip{display: block;width: 102px;height: 45px;background: url(images/map-tips.png) no-repeat;line-height: 45px;text-align: center;color: #fff;font-size: 18px;margin-bottom: 20px;margin-right: -2px;}
.read-nav .editType{padding-left: 0px;}
.read-nav .editType li a{color: #666;}
.read-nav .editType li a:hover,.read-nav .editType li.active a{color: #5e9100;}
.btn-addHouse.btn-addHouse-green{background: #93c33a;color: #fff;border: none;}
.MessageCenter-nav-l ul li a:hover,.MessageCenter-nav-l ul li.active a{ height: 37px;line-height: 37px;color: #93c33a;background: #fff;border-bottom: 1px solid #fff;}
.personTable tbody tr td a{display: inline-block;width: 14px;height: 13px;border: none;}
.personTable .btn-del{background: url(images/icon-del.png) no-repeat;}
.personTable .btn-edit{background: url(images/icon-edit.png) no-repeat;}
.btn-res{background: url(images/icon-res.png) no-repeat;display: block;padding: 0 2px}
.btn-ok{background: url(images/icon-ok.png) no-repeat;display: block;padding: 0 2px}

/*房地产商-楼盘中心-单元楼-整栋编辑-弹窗*/
.msgSet .MSG-Setting-tips{height: 40px;line-height: 40px;display: inline-block;margin-left: 10px;font-size: 14px;margin-right: 10px;}
.MSG-Setting.msgSet li select{width: 250px;}
.msgSet.MSG-Setting li.input-txt-two input[type=text]{width: 132px;}
.MSG-Setting li.mb10{ margin-bottom:10px;}

/*房地产商-楼盘中心-单元楼-房源编辑-编辑房源*/
.read-operation{border-top: 1px solid #5e9100;}
.read-operation-sel{margin-top: 10px}
.read-operation-sel select{width: 120px;border-radius: 4px;margin-right: 5px;padding-left: 5px; vertical-align:middle;}
.read-operation-sel input{width: 120px;height: 29px;line-height: 29px;border: #dcdcdc solid 1px;padding-left: 5px; vertical-align:middle;}
.read-operation-sel .btn-search-f{display: inline-block;background: #93c33b;color: #fff;padding: 6px 20px;margin: 0;text-align: center;}
.read-operation-sel .btn-search-f img{margin-right: 5px;}
.read-operation-sel .btn-search-f.mr5{margin-right: 5px; vertical-align:middle;}
.read-operation-btn a{padding: 7px 20px;}
.read-operation-btn{margin-top: 17px;}
.btn-addHouse-blue.btn-addHouse{background: #3197de;color: #fff;border: none;}
.btn-addHouse-white.btn-addHouse{background: #fff;}
table.personTable {border: none;}
table.personTable tbody tr td{border-right: none;border-left: none;}


/*房地产商-楼盘中心-单元楼-房源编辑-编辑房源(弹窗-默认)*/
.msgEdit.MSG-Setting.msgSet li label{width: 170px;}
.msgSet.MSG-Setting li input[type=text].input-txt-cell{width: 214px;}
.editTable-open tbody tr td input,.editTable-open tbody tr td select{height: 32px;line-height: 32px;padding-left: 5px;text-align: center;}
.editTable-open tbody tr td select option{text-align: center;}
.editTable-open tbody tr td input{width: 80px;margin: 0 5px;}
.editTable-open tbody tr td select{width: 120px;}
.editTable-open tbody tr td{text-align: center;}

.bigHouse-head ul li{float: left;}
.bigHouse-head ul li a{display: inline-block;border:1px solid #ffb199;background: #fff;padding: 5px 20px;color: #000;}
.bigHouse-head ul li a:hover,.bigHouse-head ul li.active a{background: #fff5e6;color: #ffb199;}
.mating-wrap{position: relative;}
.mating-list{position: absolute;left: 0px;top: 44px;border:1px solid #e5e5e5;background: #fff;min-width: 118px;z-index: 100}
.editTable-open tbody tr td .mating-list input[type=checkbox]{width: 10px;height: 10px;}
.editTable-open tbody tr td .mating-list label{display: block;min-width: 100px;text-align: left;}
.mating option{display: none;opacity: 0;}
.MSG-Setting.msgSet li label.bigHouseSel{min-width: 80px;}
.msgEdit.MSG-Setting.msgSet li label.bigHouseSel{width: 80px;}
.bigHouse-head ul li.first a,.bigHouse-head ul li.second a{border-right: none;}
.read-nav-border.pb20{padding-bottom: 20px;}

/*房地产商-楼盘中心-楼盘公告*/
.requestHouse-list-nav li.bg-green{background: #93c33b}
.requestHouse-list-nav.border-green{border-bottom: #93c33b solid 2px;}
.openMsg-content{border: 1px solid #e5e5e5;padding: 20px 20px 20px;}
.openMsg-content textarea{width: 60%;min-height: 200px;border: 1px solid #e5e5e5;}
.btn-open{padding: 5px 20px;background: #a0a0a0;font-size: 14px;color: #fff;border-radius: 5px;}
.btn-open-m{margin: 170px 0 0 10px;}
.openMsg-time dl dt,.openMsg-time dl dd{float: left;height: 30px;line-height: 30px;font-size: 14px;margin-right: 10px;}
.openMsg-time dl dd.fr{float: right;}
.openMsg-time dl dd.fr .btn-open{padding: 0px 20px;}
.openMsg-check label{display: inline-block;margin-right: 30px;}
.openMsg-check a{color: #3197de;}


/*房地产商-楼盘中心-楼盘详情-基本信息-tab01*/
.basicMsgContent{border: 1px solid #e5e5e5;border-top: none;}
.basicMsg01 .baiduMap{width: 550px;height: 350px;border: 1px solid #e5e5e5;}
.basicMsg01 .MSG-Setting li.msgSet-02 select{width: 130px;}
.basicMsg01 .MSG-Setting li.msgSet-02 input{width: 100px;margin-left: 20px;}
.basicMsg01 .MSG-Setting li.msgSet-04 input{width: 130px;}
.basicMsg01 .MSG-Setting li label{min-width: 90px;text-align: left;}
.MSG-Setting li .input-txt label{ width: auto;}
.basicMsg01 .checkbox{width: 800px;}
.houseStade li{float: left; height:23px; line-height:23px;}
.houseStade li a{padding: 2px 15px;margin-right: 10px;color: #000;}
.houseStade li a:hover,.houseStade li.active a{background: #fff1e4;border: 1px solid #ff4400;color: #ff4400;}
.houseType-table table{border: none;}
.houseType-table table tr th{background: #f1f1f1;padding: 10px 0;}
.houseType-table table tr td{text-align: center;}
.houseType-table table tr .houseTypeMsg-wrap .houseTypeMsg{display: block;}
.houseType-table table tr .houseTypeMsg-sel select{width: 100px;}
.houseType-table table tr .houseTypeMsg-wrap .houseTypeMsg.text-left{text-align: left;}
.houseType-table table tr.first td{border-top: none;}
.houseType-table table a{color: #009cff;}
.houseType-table table tr td.img-show img{width: 124px;height: 124px;} 

/*房地产商-楼盘中心-楼盘详情-基本信息-tab03*/
.MSG-Setting li.houseTypeEdit input[type=text]{width: 35px;}
.MSG-SettingHouse .input-upload-img img{width: 100px;height: 100px;}
.MSG-SettingHouse .input-upload-img-wrap .mt75{margin-top: 75px;margin-left: 20px;}
.MSG-SettingHouse .input-upload-img-wrap .MSG-Setting-tips{margin-top: 65px;margin-left: 20px}

/*房地产商-楼盘中心-楼盘详情-基本信息-tab04*/
.houseImg{border: 1px solid #e5e5e5;border-top: none;}
.houseImg-head{border-bottom: 1px solid #93c33a;margin-left: 10px;margin-right: 10px;}
.houseImg-head li{float: left;}
.houseImg-head li a{color: #000;padding: 10px 45px;font-size: 14px;display: inline-block;}
.houseImg-head li a:hover,.houseImg-head li.active a{color: #5e9100;}
.btn-houseImg{margin-right: 10px;}
.btn-houseImg a{padding: 6px 0px;width: 100px;text-align: center;border-radius: 0;margin-left: 10px;margin-top: 10px;}
.houseImg-content .HouseType-list li{width: 228px;margin-left: 13px;margin-right: 0px;margin-bottom: 20px;}
.houseImg-content .HouseType-list .HouseType-list-pic{width: 228px;height: 173px;}
.houseImg-content .HouseType-list .HouseType-list-pic img{width: 228px;height: 173px;}
.HouseType-cover-big{width: 228px;height: 173px;display: inline-block;background: url(images/img-cover-big.png) no-repeat center;position: absolute;left: 0px;top: 0px;display: none;cursor: pointer;}
.HouseType-cover-big-video{width: 228px;height: 173px;display: inline-block;background: url(images/img-cover-big.png) no-repeat center;position: absolute;left: 0px;top: 0px;display: none;cursor: pointer;}
.HouseType-cover-select{background:url(images/img-cover-select-big.png) no-repeat center; }

/*房地产商-楼盘中心-楼盘详情-基本信息-tab06*/
.MsgTable table{width: 98%;margin: 0 auto;}
.MsgTable table{border: none;}
.MsgTable table thead tr th{background: #f5f8fa;padding: 10px 0;}
.MsgTable table tr td{white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.btn-houseImg .sel-type{margin-left: 10px;}
.btn-houseImg .sel-type select{margin-left: 10px;width: 100px;padding-left: 10px;}

/*房地产商-消息中心-通知*/
.pt-ab{ position:absolute; top:0; right:0;}
.read-nav-border{padding:0 15px; border-left:#e5e5e5 solid 1px;border-right:#e5e5e5 solid 1px;border-bottom:#e5e5e5 solid 1px;}
.remark-all{float:left;}
.remark-time{float:right;}
.remark-time label{ height:30px; line-height:30px; display:inline-block; float:left;}
.first-time span.timepic{ width:21px; height:17px; display:block; cursor:pointer; background:url(images/timepic.png) no-repeat; position:absolute; top:6px; right:10px;}
.Email-main li{ height:40px; line-height:40px; padding-left:25px; color:#414141; font-size:14px; border-bottom:#e5e5e5 solid 1px;}
.Email-main li input[type=checkbox]{ margin:10px 20px 0 0;vertical-align:middle;float:left;}
.Email-main li div.Email-open{ padding-left:40px;vertical-align:middle;float:left; background:url(images/Email-open.png) left center no-repeat;}
.Email-main li div.Email-close{ padding-left:40px;vertical-align:middle;float:left; background:url(images/Email-close.png) left center no-repeat;}
.Email-main li div.publish-time{ color:#888; font-size:12px; float:right;}
.batch-delect{ height:24px; line-height:24px; color:#666; padding:0 15px; border:#b5b5b5 solid 1px; border-radius:5px; display:inline-block; float:left;}
.batch-delect-bor{margin:15px 0 0 25px;}

/*房地产商-消息中心-互动-大众点评*/
.MessageCenter-nav-l li a.pdlr23{ padding:0 23px;}
.PubliComment ul.ul-PubliComment li{ margin-bottom:50px;}
.PubliComment li div.commentator{ padding:0 0 0 15px;}
.head-img{ width:55px; height:55px; margin:20px 15px 0 0; float:left;}
.CommandStandard{ width:865px; float:left;}
.CommandStandard-l{ float:left;}
.PubliComment ul.ul-PubliComment li .CommandStandard-l ul.ul-CommandStandard-l li{ margin-bottom:0;}
.CommandStandard-l li ul,.CommandStandard-l ul li,.CommandStandard-l li a{ display:inline-block; float:left;}
.CommandStandard-l li{ padding-top:15px; margin-right:33px; color:#414141; font-size:14px;}
.CommandStandard-l li a.head-name{ margin-right:20px;}
.star{ float:left;}
.star span{ width:12px; height:12px; display:inline-block;}
.star span.icon-tips-star-red{ background:url(images/house-start-red.png) no-repeat;}
.command-time{ padding-top:15px; color:#888; float:right;}
.CommandStandard-r{ float:right;}
.finger{ width:16px; height:16px; margin:10px 5px 0 0; cursor:pointer; background:url(images/finger.png) no-repeat; display:inline-block; float:left;}
.CommandStandard-r a{ font-size:14px; display:inline-block;}
.lh40{ height:40px; line-height:40px; color:#666; font-size:14px;}
.dottedline{ border-bottom:#e5e5e5 dashed 1px;}
.btline{ border-bottom:#e5e5e5 solid 1px;}
.PostReply{}
.PostReply-opera{ height:30px; line-height:30px;}
.PostReply-opera-l{ float:left;}
.PostReply-opera-r{ padding-right:15px; cursor:pointer; background:url(images/pick-up.png) right center no-repeat; display:inline-block; float:right;}
.PostReply textarea{ width:920px; height:60px; padding:10px; color:#949494; font-size:14px;  border:#e5e5e5 solid 1px;}
.pl-reply-box{ margin-top:20px;}
.pl-reply{ width:85px; height:30px; margin-right:20px; outline:none; cursor:pointer; }
.pl-reply01{color:#fff; border:0; background:#3197df;}
.pl-reply02{color:#333; border:#e5e5e5 solid 1px; background:#fff;}

/*房地产商-消息中心-互动-站内信*/
.remark-all a.all-delect{ height:28px; line-height:28px; margin-left:15px; vertical-align:middle; color:#666; padding:0 15px; border:#b5b5b5 solid 1px; border-radius:5px; display:inline-block;}

/*房地产商-消息中心-违规记录*/
.ViolationRecord{ border:#e5e5e5 solid 1px;}
.ViolationRecord-title{ height:45px; line-height:45px; background:#f5f8fa; border-bottom:#e5e5e5 solid 1px;}
.ViolationRecord-title-l{ color:#546d7e; font-size:18px; text-indent:13px; float:left;}
.ViolationRecord-title-r{ margin-right:15px; color:#000; font-size:14px;float:right;}
.ViolationRecord-main{}
.ViolationRecord-main li{ padding:15px; border-bottom:#e5e5e5 solid 1px;}
.ViolationRecord-main-l{ width:805px; line-height:25px; color:#373737; font-size:14px; letter-spacing:1px; float:left;}
.ViolationRecord-main-r{ color:#949494; float:right;}

/*房地产商-营销中心-代理管理*/
.AgentManagement{}
.AgentDetail{ margin-bottom:10px;}
.AgentDetail-l{ width:538px; height:223px; padding:15px 0 20px 40px; border:#e5e5e5 solid 1px; float:left;}
.AgentDetail-l li{ height:45px; line-height:45px;color:#414141;}
.AgentDetail-l li label{ width:100px;color:#414141; font-size:16px; text-align:right; display:inline-block; float:left;}
.AgentDetail-l li span{font-size:18px; letter-spacing:2px; display:inline-block; float:left;}
.AgentDetail-l li span a{ font-size:14px; display:inline-block; float:left;}
.AgentDetail-l li span em{ font-size:24px; display:inline-block; float:left;}
.AgentDetail-r{ width:348px; height:183px; padding:35px 15px 40px 20px; border:#e5e5e5 solid 1px; float:right;}
.AgentDetail-r li{ width:160px; height:80px; line-height:80px; margin-bottom:20px; color:#fff; font-size:24px; text-align:center; letter-spacing:1px; cursor:pointer; display:inline-block; float:left;}
.AgentDetail-r li.libg01{ background:#7ab800;}
.AgentDetail-r li.libg02{ background:#0085c3;}
.AgentDetail-r li.libg03{ background:#f2af00;}
.AgentDetail-r li.libg04{ background:#dc5034;}
.CurrentAgent-box{ padding:0 10px 60px 10px; border:#e5e5e5 solid 1px;}
.CurrentAgent-title{}
.CurrentAgent-title-l{ height:60px; line-height:60px; color:#414141; font-size:18px; float:left;}
.CurrentAgent-title-r{ float:right;}
.AgentName-search{ position:relative;top:0;right:0;}
.AgentName-search a{ width:17px; height:16px; display:block; cursor:pointer; background:url(images/btn-search2.png) no-repeat; position:absolute;top:8px; right:10px;}
.input-AgentName-search{ width:200px; height:30px; line-height:30px; color:#949494; font-size:14px; text-indent:10px; outline:none; border:#e5e5e5 solid 1px;}
.AgentManagement-tab{border:#e5e5e5 solid 1px; border-collapse: collapse}
.AgentManagement-tab th{ height:50px; color:#546d7e; font-size:14px; background:#f5f8fa;}
.AgentManagement-tab td{ height:40px; color:#414141; font-size:14px;text-align:center; border:#e5e5e5 solid 1px;}
.btn-renew{ width:50px; height:25px; color:#fff; border:0; border-radius:5px; background:#3197de;}
.btn-stop{ width:50px; height:25px; color:#414141; border-radius:5px; border:#e5e5e5 solid 1px; background:#fff;}
.read-nav li a{color: #666}
.read-nav li:hover a,.read-nav li.active a{color: #ff4242;}

/*房地产商-营销中心-红包管理*/
.btn-addred{ width:100px; height:30px; line-height:30px; color:#fff; font-size:14px; border:0; outline:none; cursor:pointer; background:#93c33a;}
.switch-on{ width:35px; height:21px; margin:0 auto; background:url(images/swicth-on.png) center no-repeat; display:block;}
.switch-off{ width:35px; height:21px; margin:0 auto; background:url(images/swicth-off.png) center no-repeat; display:block;}
.redpacket-tab{border-collapse:collapse; border:0;}
.redpacket-tab th{ height:50px; color:#546d7e; font-size:14px; background:#f5f8fa; border-bottom:#e5e5e5 solid 1px;}
.redpacket-tab td{ height:40px; color:#414141; font-size:14px;text-align:center; border-bottom:#e5e5e5 solid 1px;}

/*房地产商-营销中心-房源管理*/
.inset-tab{ border-collapse:collapse; border:#e5e5e5 solid 1px;}
.inset-tab th{ height:40px; color:#666; font-size:14px; background:#fef7f1;}
.inset-tab td{ height:40px; text-align:center; border:#e5e5e5 solid 1px; background:#fff;}
.str{ width:210px; text-overflow:ellipsis; white-space:nowrap; overflow:hidden;}

/*房地产商-营销中心-客户管理*/
.btn-opera{ width:100px; height:30px; color:#666; font-size:14px; outline:none; background:#fff; border:#dcdcdc solid 1px;}
.input-text{ width:228px; height:28px; line-height:28px; color:#949494; font-size:14px; text-indent:5px; border:#dcdcdc solid 1px; border-radius:5px; outline:none;}

/*房地产商-营销中心-房团详情*/
.CondoTour-detail{ padding-left:55px;color:#414141; font-size:14px;}
.CondoTour-detail li{ margin-bottom:20px;}
.CondoTour-detail li label{ width:100px; margin-right:10px; text-align:right;  display:block; float:left;}
.CondoTour-detail li span{ display:inline-block; float:left;}
.btn-msg{ width:100px; height:30px; color:#414141; background:#f5f8fa; border-radius:5px; border:#dcdcdc solid 1px;}
.btn-transfer{ width:55px; height:25px; line-height:25px; margin:0 auto; padding:0px 0 0 5px; color:#888; font-size:12px; border:#dcdcdc solid 1px; display:block; }
.btn-transfer span{ width:15px; height:14px; margin-top:5px; display:block; float:left;background:url(images/transfer.png) center no-repeat;}
.CurrentAgent-title h3{ color:#414141; font-size:18px; font-weight:normal;}
.fz{ height:30px; line-height:30px; color:#888; font-size:14px;}
.sel{ width:135px; height:30px; color:#949494; font-size:14px; border:#dcdcdc solid 1px;}

/*房地产商-营销中心-当前楼盘代理-详情*/
.AgentPopup-title{ height:50px; line-height:50px; color:#000; font-size:16px; text-align:center;}
.AgentPopup-main{ padding-left:3%;}
.AgentPopup-main li{ margin-bottom:20px;color:#414141; font-size:14px; display:block; float:left;width: 50%;}
.AgentPopup-main li label{ margin-right:10px; display:block; float:left;}
.AgentPopup-main li span{ display:block; float:left;}
.buildTable th{ height:50px; color:#546d7e; font-size:14px; background:#f5f8fa;}
.buildTable td{ border:#dcdcdc solid 1px;}

/*房地产商-营销中心-代理授权-代理申请*/
.grantTable th{ height:50px; font-size:13px; background:#f5f8fa;}
.grantTable td{ border:#dcdcdc solid 1px;}
.green{ color:#168829;}
.btn-detail{ width:50px; height:25px; color:#fff; border:0; border-radius:5px; background:#3cb851;}

/*房地产商-营销中心-房源管理-新增代售房源*/
.input-detail{ padding:30px 0 0 15px; border-bottom:#dcdcdc solid 1px;}
.input-detail li{ width:310px; margin-left:40px; padding-bottom:20px; display:block; float:left;}
.input-detail li label{ width:100px; height:35px; line-height:35px; margin-right:10px; color:#414141; font-size:14px; text-align:right; display:block; float:left;}
.input-detail li input[type=text],select{ width:198px; height:32px; line-height:32px; outline:none; border:#dcdcdc solid 1px;}
.choose-house{}
.house-sel label{ height:35px; line-height:35px; color:#414141; font-size:14px; display:block; float:left;}
.house-sel select{ width:120px; height:35px; margin-right:10px;}
.radio-box input[type=radio]{ vertical-align:middle;}
.radio-box span{ height:35px; line-height:35px; color:#414141; font-size:14px; vertical-align:middle;}
.chooseHose{ height:298px;overflow-y:scroll}
.chooseHose-Tab{ }
.chooseHose-Tab th{ height:50px; color:#546d7e; font-size:14px; background:#f5f8fa;}
.chooseHose-Tab input[type=radio]{ vertical-align:middle;}
.chooseHose-Tab span{ vertical-align:middle;}
.chooseHose-Tab td{ height:40px; padding:0; color:#666; font-size:14px; text-align:center; background:#fff;}
.bder{ border-top:#dcdcdc solid 1px;}
.input-money{ width:158px; height:33px; outline:none; border:#dcdcdc solid 1px;}
.chooseHose input[type=text]{ width:88px; height:23px; color:#666; font-size:14px; text-indent:5px; outline:none; border:#dcdcdc solid 1px;}
.save-box input[type=button]{ width:95px; height:30px; font-size:14px;}
.btn-qx{ background:#fff; border:#bfbfbf solid 1px;}
.btn-pb{ color:#fff; background:#3197de; border:0;}

/*房地产商-营销中心-房源管理-新增代售房源*/
.MSG-Setting{ padding:20px 20px 0 20px;}
.MSG-Setting li{ margin-bottom:20px;}
.MSG-Setting li label{ width:100px; height:40px; line-height:40px; margin-right:10px; text-align:right; color:#414141; font-size:14px; display:block; float:left;}
.MSG-Setting li select{ width:200px; height:40px; color:#414141; font-size:14px;}
.MSG-Setting li textarea{ width:360px; height:120px; border:#dcdcdc solid 1px; border-radius:5px;}

/*房地产商-营销中心-红包管理-新增红包*/
.time-limit{ position:relative; top:0; right:0;}
.MSG-Setting li input[type=text]{ width:200px; height:40px; line-height:40px; color:#949494; font-size:14px; text-indent:10px; outline:none; border:#dcdcdc solid 1px;}
.time-limit a.timepic{width: 21px;height: 17px;display: block;background: url(images/timepic.png) no-repeat;position: absolute;top: 10px; right: 10px;}
.radio-box-h40{ height:40px; line-height:40px;}
.radio-box-h40 input[type=radio]{ vertical-align:middle;}
.radio-box-h40 span{ height:40px; line-height:40px; color:#414141; font-size:14px; display:inline-block; vertical-align:middle;}

/*房地产商-营销中心-代理授权-代理邀请-代理房源详情*/
.Consignee-detail{ font-size:14px; border-bottom:#dcdcdc solid 1px;}
.Consignee-detail dt{ color:#000;}
.Consignee-detail dd{ width:260px; height:40px; line-height:40px; margin-right:100px; display:inline-block; float:left;}

/*房地产商-营销中心-代理申请-待处理申请*/
.requestState-box{}
.CurrentState{ height:48px; line-height:48px; color:#666; font-size:14px; text-indent:25px; background:#f5f8fa; border:#eee solid 1px; }
.requestState-content{ border:#e5e5e5 solid 1px; padding:0 20px;}
.requestContent-Tab{ border:0;}
.requestContent-Tab td{ text-align:left; border-top:0;border-bottom:#e5e5e5 solid 1px;}
.requestHouse-list{}
.requestHouse-list-nav{ border-bottom:#f7941d solid 2px;}
.requestHouse-list-nav li{ height:45px; line-height:45px; padding:0 30px; color:#fff; font-size:18px; background:#f7941d; display:inline-block; float:left;}
.ApplyReason-box-title{ height:40px; line-height:40px;}
.ApplyReason-text{ color:#f7941d; font-size:18px;}
.ApplyReason-box textarea{ width:950px; height:80px; line-height:25px; padding:15px; color:#666; font-size:14px; border:#dcdcdc solid 1px;}

/*房地产商-营销中心-代理申请-待处理申请-操作（协商*/
.consult{ padding:35px 0 30px 0; border-top:#dcdcdc solid 1px;}
.consult li{ margin-bottom:20px;}
.consult li label{ width:120px; height:35px; line-height:35px; font-size:14px; text-align:right; display:inline-block; float:left;}
.consult li span{ height:35px; line-height:35px;}
.consult li input[type=text]{ width:158px; height:33px; line-height:33px; border:#dcdcdc solid 1px;}
.consult li select{ width:160px; height:35px; line-height:33px;}
.save-box a{margin-left: 10px;}

/*房地产商-营销中心-代理申请-待处理申请-同意申请*/
.handle-detail{ line-height:30px; padding:10px 0 10px 20px; font-size:14px; border:#dcdcdc solid 1px; background:#f9f9f9;}

/*房地产商-营销中心-活动管理-抢购活动-添加活动*/
.joinHouse{}
.joinHouse-title{ font-size:16px;}
.joinHouse-title span{ height:26px; line-height:28px; padding:0 15px; color:#414141; font-size:12px; border:#dcdcdc solid 1px; display:inline-block;}
.ml50{ margin-left:50px;}
.alredy-sel{ padding:5px 0 15px 10px; border:#fbb900 solid 1px; background:#fefae6;}
.alredy-sel label{ height:30px; line-height:30px; color:#666; font-size:14px; display:inline-block; float:left;}
.alredy-sel-box dl{line-height:30px; font-size:14px;}
.alredy-sel-box dd{ color:#414141;}
.restored select{ font-size:14px;}
.bg-red{ background:#ec5140;}

/*房地厂商-营销中心-活动管理*/
.buyHouse-table tbody tr td span{display: block;line-height: 30px;}
.buyHouse-table tbody tr td.second{text-align: left;}
.buyHouse-table tbody tr td.second span{padding-left: 10px;}
.buyHouse-table tbody tr td.houseDetail{position: relative;}
.buyHouse-table tbody tr td a{position: absolute;right: 30px;bottom: 5px;}
.buyHouse-table tbody tr td{border: 1px solid #e5e5e5;}
.buyHouse-table tbody tr:nth-child(even){background: #fff!important;}

/*房地产商-人员架构-人员分配*/
.talign-l{ text-align:left;}
.fz12{ font-size:12px;}

/*房地产商-人员架构-人员分配-新增员工*/
.sel-content span{ height:25px; line-height:25px; padding:0 20px; color:#fff; border-radius:5px; background:#99cdcd; display:inline-block; float:left; position:relative; top:0; right:0;}
.samll-close{ text-decoration:none; position:absolute; top:-5px; right:5px;}

/*房地产商-企业中心-企业未认证*/
.enterpriseCertification-box{ padding:10px 20px 40px 20px; border:#e4e4e4 solid 1px;}
.enterpriseCertification-box-title{ color:#414141; font-size:16px;}
.tips-text{ font-size:16px; text-align:center;}
.enterprise-logo{ width:200px; height:100px;}

/*房地产商-楼盘中心--楼盘详情-详细资料-楼盘参数*/
.houseSpecial{ width:710px;}
.houseSpecial span{ width:78px; height:25px; line-height:25px; margin:0 5px 15px 0; color:#949494; font-size:13px; text-align:center; background:#f2f2f2; border:#c9c9c9 dashed 1px; display:inline-block;}
.houseSpecial span:hover,.houseSpecial span.active{ color:#333; background:#fff6d4; border:#ffcc00 solid 1px;}
.houseParam{ padding-left:80px;}

/*房地产商-楼盘中心--楼盘详情-详细资料-销售信息*/
.saleMsg{}
.periodDetail-box{}
.periodDetail-title{ color:#000; font-size:18px;}
.basicMsg01 .MSG-Setting li label.talign-r{ text-align:right;}
.buildText{ color:#333; font-size:18px;}
.timeBetwidth{ width:345px;}
.pdt25{ padding-top:25px;}

