body {font-family:"Microsoft YaHei";}

/*********************PersonalCenter(首页)*************************/
/*personal-data*/
.personal-data {margin-bottom:20px;}
.personal-messages {width:410px;height:278px;margin-right:13px;border:#e4e4e4 solid 1px;float:left;}
.personal-messages-title {height:50px;line-height:50px;color:#414141;font-size:16px;text-indent:18px;}
.personal-messages-main {padding:20px 0 20px 30px;}
.personal-messages-main-l {margin:0 18px 0 0;float:left;}
.member-head {width:100px;height:100px;overflow:hidden;position:relative;top:0;left:0;}
.personal-messages-main-l .member-head span {width:100px;height:100px;overflow:hidden;display:inline-block;background:url(images/member-head-circular.png) no-repeat;position:absolute;top:0;left:0;}
.personal-messages-main-r {float:left;}
.personal-name {margin-bottom:20px;color:#414141;font-size:16px;}
.personal-level li {margin-right:24px;display:inline-block;float:left;}
.member-pic {width:17px;height:18px;margin-right:5px;vertical-align:middle;display:inline-block;background:url(images/member-pic.png) no-repeat;}
.authentication-pic {width:28px;height:18px;margin-right:5px;vertical-align:middle;display:inline-block;background:url(images/authentication-pic.png) no-repeat;}
.unauthentication-pic {width:28px;height:18px;margin-right:5px;vertical-align:middle;display:inline-block;background:url(images/unauthentication-pic.png) no-repeat;}
.edit {padding-left:30px;}
.btn-edit {width:98px;height:28px;margin-right:15px;color:#666;outline:none;cursor:pointer;border:#eee solid 1px;border-radius:3px;background:#fff;display:inline-block;}
.edit a {color:#3197de;}
.convenient-service {width:558px;height:278px;border:#d1c5db solid 1px;float:right;}
.convenient-service-title {height:45px;line-height:45px;color:#414141;font-size:16px;text-align:center;background:#f4f2f7;border-bottom:#d1c5db solid 1px;}
.convenient-service-main {}
.convenient-service-main-l {width:169px;height:229px;padding:5px 0 0 0;border-right:#f2f2f2 solid 1px;float:left;}
.convenient-service-main-l p {text-align:center;letter-spacing:2px;}
.month {height:70px;line-height:70px;color:#414141;font-size:18px;}
.day {height:75px;line-height:75px;color:#93c33b;font-size:72px;}
.convenient-service-main-r {width:388px;padding:20px 0 0 0;float:left;}
.convenient-service-main-r a {width:100px;margin:12px;color:#666;font-size:14px;text-align:center;display:inline-block;float:left;}
.convenient-service-main-r a div {width:100px;height:50px;}
.convenient-service-main-r a.a_1 div {background:url(images/favorites.png) center no-repeat;}
.convenient-service-main-r a.a_2 div {background:url(images/comment.png) center no-repeat;}
.convenient-service-main-r a.a_3 div {background:url(images/news.png) center no-repeat;}
.convenient-service-main-r a.a_4 div {background:url(images/ticket.png) center no-repeat;}
.convenient-service-main-r a.a_5 div {background:url(images/red-packets.png) center no-repeat;}
.convenient-service-main-r a.a_6 div {background:url(images/calculator.png) center no-repeat;}
.convenient-service-main-r p {height:26px;line-height:26px;}
.convenient-service-main-r p span {color:#ff0000;}

/*my-RedPacket*/
.my-RedPacket {margin-bottom:10px;border:#c7d7eb solid 1px;}
.my-RedPacket-title {height:40px;line-height:40px;margin:1px;color:#414141;font-size:16px;text-indent:15px;background:#e4eef9;border-bottom:#c7d7eb solid 1px;}
.RedPacket-use {}
.RedPacket-use li {width:308px;padding:30px 0 30px 18px;border-right:#c7d7eb solid 1px;display:inline-block;float:left;position:relative;top:0;right:0;}
.abs-RedPacket {width:27px;height:49px;background:url(images/abs-RedPacket.png) no-repeat;position:absolute;top:0;right:7px;}
.house-pic {width:143px;height:98px;margin-right:15px;border:#dcdcdc solid 1px;float:left;}
.house-detail {float:left;}
.price {color:#000;font-size:30px;}
.unit-price {margin-bottom:10px;color:#666;font-size:14px;}
.col-price {color:#ff0000;}
.btn-use {width:98px;height:28px;margin-left:5px;color:#ff0000;font-size:14px;cursor:pointer;background:#f8edb7;border:#ff9000 solid 1px;border-radius:3px;}
.see-more {height:30px;line-height:30px;margin-bottom:20px;text-align:center;background:#f6f6f6;}
.see-more a {color:#654682;}

/*my-favorites*/
.my-favorites {margin-bottom:10px;padding:0 0 18px 15px;border:#eee solid 1px;}
.my-favorites-title {height:50px;line-height:50px;color:#414141;font-size:16px;}
.favorites-main li {margin-right:15px;display:inline-block;float:left;position:relative;top:0;left:0;}
.house-type {width:81px;height:28px;line-height:28px;color:#fff;text-align:center;border-radius:5px;background:url(images/opacity.png) no-repeat;position:absolute;top:55px;left:75px;}
.favorites-pic {width:305px;height:200px;border:#dcdcdc solid 1px;}
.place {height:30px;line-height:30px;color:#333;font-size:14px;font-weight:bold;}
.average-price {color:#666;font-size:14px;}
.average-price span {color:#ff4400;}

/*my-footprint*/
.footprint-pic {width:225px;height:150px;border:#dcdcdc solid 1px;}
.footprint-price {color:#333;font-size:14px;}
.footprint-place {width:225px;height:25px;color:#333;font-size:14px;line-height:25px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}

/*split-line*/
.split-line {height:1px;background:#d2d2d2;}
.split-line-w1200 {height:1px;margin:0 192px;background:#d2d2d2;}

/*banner*/
.banner {height:405px;background:url(images/banner.png) repeat-x;}
.banner-w1200 {height:405px;background:url(images/banner.png) no-repeat center;}


/*********************MyFootprint(动态记录-我的足迹)*************************/
.MyFootprint {border:#e4e4e4 solid 1px;}

/*search-nav*/
.search-nav {height:55px;line-height:55px;margin:0 15px;border-bottom:#e4e4e4 solid 1px;}
.search-nav-l {float:left;}
.search-nav-l li {margin-left:33px;color:#666;font-size:14px;display:inline-block;float:left;}
.search-nav-l li:hover,.search-nav-l li.li-h {color:#ff0000;}
.search-nav-r {float:right;}
.select-time {float:left;}
.select-time label {height:55px;line-height:55px;margin-right:10px;display:inline-block;float:left;}
.first-time {margin:12px 0 0 0;float:left;position:relative;top:0;right:0;}
.write-time {width:178px;height:28px;line-height:28px;color:#949494;font-size:14px;outline:none;text-indent:5px;border:#e5e5e5 solid 1px;border-radius:3px;float:left;}
.time-pic {width:21px;height:17px;cursor:pointer;background:url(images/time-pic.png) no-repeat;position:absolute;top:5px;right:8px;}
.cut {display:inline-block;float:left;}
.btn-search {width:48px;height:30px;line-height:30px;padding-left:40px;margin:10px 0 0 10px;color:#fff;border-radius:5px;background:url(images/btn-search1.png) 18px center #93c33b no-repeat;display:inline-block;float:left;}
.DiscountCard-nav-r .btn-search {position:absolute;right:3px;top:8px;background:url(images/btn-search-ipt.png) 18px center transparent no-repeat;width:14px;height:17px;padding-left:20px;margin:0;}
*+.DiscountCard-nav-r .btn-search {right:6px;top:6px;}


/*MyFootprint-main*/
.MyFootprint-main {padding:15px 0 0 30px;/*overflow:hidden;*/}
.MyFootprint-main-l {width:32px;height:1080px;float:left;overflow:hidden;}
.MyFootprint-timeLine {width:32px;height:334px;background:url(images/time-bar.png) no-repeat;}
.MyFootprint-timeLine01 {margin-top:-310px;}
.MyFootprint-main-r {padding-top:20px;float:left;}
.date-content {margin-bottom:10px;}
.date {margin:0 0 10px 10px;color:#85b234;font-size:25px;font-weight:bold;}
.date-detail {}
.date-detail li {width:210px;margin-left:10px;padding-bottom:5px;border:#e5e5e5 solid 1px;display:inline-block;float:left;}
.house {width:200px;height:155px;margin:5px;position:relative;bottom:0;left:0;}
.house-name {width:200px;height:33px;line-height:33px;color:#fff;font-size:14px;text-indent:5px;background:rgba(0,0,0,0.5);position:absolute;bottom:0;left:0;}
.house-UnitPrice {height:20px;line-height:20px;color:#ff4400;font-size:14px;padding-left:10px;}
.date-detail li p {height:25px;line-height:25px;color:#535353;padding-left:10px;}
.HouseType {height:25px;line-height:25px;padding-right:15px;margin-right:15px;background:url(images/sp-icon.png) right center no-repeat;display:block;float:right;position:relative;}
.HouseType-detail {display:block;border:1px solid #e5e5e5;min-width:300px;background:#fff;z-index:10;position:absolute;right:-16px;top:30px;padding-bottom:10px;}
.date-detail li .HouseType-detail p {line-height:30px;padding:5px 20px;background:url(images/dot-line.png) repeat-x bottom;}
.date-detail li .HouseType-detail p span {display:inline-block;padding-left:10px;font-size:14px;color:#414141;}
.HouseType a {color:#414141;letter-spacing:2px;}
.more-footprint {height:25px;line-height:25px;margin-top:10px;border-bottom:#e5e5e5 solid 1px;}
.more-footprint a {color:#008aff;float:right;}
.load-more {width:888px;height:110px;line-height:110px;font-size:16px;text-align:center;display:block;}
.load-more a {color:#546d7e;}


/*********************CaptureroomRecord(动态记录-夺房记录)*************************/
.stage-nav {height:45px;border-bottom:#e4e4e4 solid 1px;}
.stage-nav li {height:44px;line-height:44px;padding:0 20px;color:#414141;font-size:14px;font-weight:bold;cursor:pointer;display:inline-block;float:left;}
.stage-nav li:hover,.stage-nav li.active {height:44px;line-height:44px;color:#93c33a;border-bottom:#93c33a solid 2px;}
.CaptureroomRecord-content {padding:15px 0 0 40px;}
.CaptureroomRecord-content-box {margin-bottom:20px;}
.CaptureroomRecord-content-l {margin-right:25px;float:left;}
.CaptureroomRecord-content-l input[type=checkbox] {vertical-align:middle;}
.CaptureroomRecord-content-r {width:890px;border:#ededed solid 1px;float:left;position:relative;top:0;right:0;}
.label {position:absolute;top:0;right:0;}
.btn-delete {color:#666;outline:none;border:0;border-radius:3px;background:#fff;float:left;border:1px solid #e5e5e5;padding:5px 15px;cursor:pointer;}
.CaptureroomRecord-content-title {height:55px;line-height:55px;color:#546d7e;font-size:16px;text-indent:20px;background:#f5f8fa;border-bottom:#ededed solid 1px;}
.CaptureroomRecord-content-main {border-bottom:#ededed solid 1px;}
.participants-box {width:450px;padding:15px 0 10px 25px;border-right:#ededed solid 1px;float:left;}
.participants-house {margin-bottom:10px;}
.participants-house-pic {width:140px;height:120px;margin-right:25px;float:left;}
.already {float:left;}
.already-text {margin-bottom:20px;color:#414141;font-size:18px;}
.already-num {color:#949494;font-size:14px;}
.already-num em {color:#949494;font-size:30px;letter-spacing:3px;}
.already-num span {color:#ff4400;font-size:30px;letter-spacing:3px;}
.explain {height:20px;line-height:20px;color:#848484;}
.explain span {color:#ff4400;}
.CaptureroomRecord-data {width:350px;padding:20px 0 0 55px;float:left;}
.progress-bar {margin:20px 0 15px 0;}
.progress-bar span {display:inline-block;float:left;}
.bar {width:245px;height:10px;margin:3px 15px 0 0;border:#e1e1e1 solid 1px;float:left;}
.bar i {height:10px;background:#93c33b;display:inline-block;}
.bar-num {color:#414141;}
.progress-detail {margin-bottom:35px;}
.support {margin-right:10px;padding-left:25px;background:url(images/support.png) left center no-repeat;float:left;}
.residual-time {padding-left:25px;background:url(images/residual-time.png) left center no-repeat;float:left;}
.progress-detail span {color:#ff4400;}
.now-time {margin-right:20px;float:right;}
.lucky {height:50px;line-height:50px;}
.lucky-num {padding-left:25px;color:#848484;font-size:14px;float:left;}
.lucky-num span {margin-right:10px;color:#0294fa;font-size:13px;}
.Continue {margin-right:15px;color:#e24747;font-size:14px;display:inline-block;float:right;}
.other-message {margin-bottom:12px;}
.other-message label {color:#777;font-size:14px;text-align:right;display:inline-block;}
.other-message span.sp-1 {color:#ff4400;font-size:16px;}
.other-message span.sp-2 {color:#654682;font-size:14px;}
.other-message span.sp-2 em {color:#777;}
.other-message i {color:#ff4400;font-style:normal;}
.other-message span.sp-3 {color:#b4b4b4;font-size:16px;}
.rebate {width:311px;height:69px;padding:10px 0;margin-bottom:10px;background:url(images/rebat.png) no-repeat;}
.rebate-l {height:69px;line-height:69px;padding:0px 12px 0px 20px;color:#fff;font-size:48px;border-right:#f6f6f6 solid 1px;float:left;}
.rebate-l span {color:#fff;font-size:24px;}
.rebate-r {margin:15px 0 10px 10px;color:#fff;float:left;}
.rebate-text {color:#fff;font-size:18px;}
.see-detail {margin-right:15px;color:#0294fa;font-size:14px;float:right;}
.total {margin-bottom:10px;color:#777;font-size:14px;}
.total em {color:#ff4400;}
.total i {color:#ff4400;font-size:30px;font-style:normal;}
.total a {margin-left:65px;color:#0294fa;display:inline-block;}


/*********************HouseRecord(动态记录-看房记录)*************************/
.title-l {float:left;}
.title-r {height:55px;line-height:55px;margin-right:15px;color:#888;font-size:14px;float:right;}
.phone {padding-left:15px;background:url(images/call.png) left  center no-repeat;display:inline-block;float:left;}
.contact {width:93px;height:24px;margin:17px 0 0 10px;background:url(images/Contact.png) center no-repeat;display:inline-block;float:left;}
.other-message span {color:#777;font-size:14px;}
.showing-discount {margin-bottom:10px;}
.discount-text {margin-bottom:10px;color:#93c33b;font-size:18px;}
.discount-detail {line-height:25px;color:#777;font-size:14px;}


/*********************BuildingActivity(动态记录-楼盘活动)*************************/
.discount-explain {margin-right:50px;color:#777;font-size:14px;}


/*********************MyFavorites(动态记录-我的收藏)*************************/
.MyFavorites-search {padding:5px 0 15px 0;border-bottom:#e4e4e4 solid 1px;}
.MyFavorites-search-fl {margin-right:15px;float:right;}
.in-search {margin-top:10px;}
.MyFavorites-main {}
.floor-box {padding:20px 0px 20px 15px;border-bottom:#e5e5e5 solid 1px;}
.floor-box-l {margin-right:20px;float:left;}
.place-box {margin-right:25px;padding:5px 5px 30px 5px;border:#e5e5e5 solid 1px;float:left;}
.place-title {margin-bottom:5px;}
.place-name {margin-right:20px;color:#414141;font-size:16px;float:left;}
.wkt-pic {width:27px;height:25px;background:url(images/wkt-pic.png) no-repeat;display:inline-block;float:left;}
.place-time {color:#949494;}
.opera-box {margin-top:5px;float:left;}
.top-pic {width:14px;height:17px;margin-right:14px;background:url(images/top-pic.png) no-repeat;display:inline-block;float:left;}
.delete-pic {width:16px;height:17px;background:url(images/delete-pic.png) no-repeat;display:inline-block;float:left;}
.floor-box-r {width:657px;float:left;}
.type-nav {margin-bottom:15px;}
.type-nav-l {border:#e5e5e5 solid 1px;border-left:0 none;float:left;position:relative;top:0;right:0;}
.type-nav-l a.select-delect {width:85px;height:28px;line-height:28px;color:#414141;text-align:center;border:#e5e5e5 solid 1px;display:inline-block;position:absolute;top:-1px;right:-100px;}
.type-nav-l li {width:129px;height:28px;line-height:28px;color:#9c9c9c;text-align:center;cursor:pointer;border-left:#e5e5e5 solid 1px;display:inline-block;float:left;}
.type-nav-l li:hover,.type-nav-l li.li-h3 {color:#ff4400;background:#f5f8fa;}
.type-nav-r {height:28px;line-height:28px;margin-right:15px;float:right;}
.type-nav-r a {color:#0084ff;}
.HouseType-list {margin-bottom:40px;}
.HouseType-list li {width:155px;margin-right:9px;text-align:center;display:inline-block;float:left;}
.HouseType-list-pic {width:153px;height:153px;border:#e5e5e5 solid 1px;position:relative;}
.HouseType-title {height:25px;line-height:25px;color:#888;font-size:14px;}
.HouseType-name {height:25px;line-height:25px;color:#414141;font-size:14px;}
.btn-expand {width:85px;height:25px;margin-right:15px;color:#414141;outline:none;cursor:pointer;background:#fff;border:#e5e5e5 solid 1px;float:right;}
.limiteTime {margin:0 15px 30px 0;}
.limiteTime li {padding:10px;margin-bottom:10px;border:#e5e5e5 solid 1px;}
.limiteTime-l {float:left;}
.HouseType-pic-fl {margin-right:20px;float:left;}
.limiteTime-l-content {float:left;}
.limiteTime li p {height:26px;line-height:26px;color:#414141;font-size:14px;}
.limiteTime li p.p1 {color:#888;}
.limiteTime-r {margin-right:25px;float:right;}
.limiteTime-r-list {margin-bottom:15px;}
.limiteTime-r-list p {eight:26px;line-height:26px;color:#414141;font-size:14px;}
.limiteTime-r-list p span {color:#ff4400;}
.btn-buy {width:100px;height:30px;line-height:30px;color:#fff;font-size:14px;outline:none;cursor:pointer;border:0 none;background:#f84444;}
.HouseType-cover {width:155px;height:155px;display:inline-block;background:url(images/img-cover.png) no-repeat center;position:absolute;left:0px;top:0px;display:none;cursor:pointer;}
.HouseType-cover-select01 {background:url(images/img-cover-select.png) no-repeat center;}
.HouseType-cover-select02 {background:url(images/img-cover-select.png) no-repeat center;}


/*********************SecuritySetting(用户管理-安全设置)*************************/
.SecuritySetting-main {padding:0 20px;}
.account-title {height:45px;line-height:45px;color:#414141;font-size:18px;}
.account-title span {color:#ff4400;}
.account-title a {margin-left:20px;color:#096cb2;font-size:12px;text-decoration:underline;display:inline-block;}
.account-content {height:163px;border:#eee solid 2px;}
.account-pic {width:47px;height:55px;margin:40px 25px 0 45px;background:url(images/r_aqsz.png) top left no-repeat;display:inline-block;float:left;}
.account-message {padding-top:20px;color:#333;font-size:14px;display:inline-block;float:left;}
.account-message li {height:24px;line-height:24px;}
.account-message li span.sp_ch1 {font-weight:bold;color:#74b100;}
.account-message li span.sp_ch2 {font-weight:bold;color:#e6c800;}
.account-message li span.sp_ch3 {font-weight:bold;color:#ff9933;}
.account-message li span.sp_ch3 {font-weight:bold;color:#ff495e;}
.account-message li span.sp_jdt {background:#dddddd;width:200px;height:12px;border-radius:6px;display:inline-block;vertical-align:middle;font-size:0px;*position:relative;*top:2px;}
.account-message li span.sp_jdt1 {background:#74b100;height:12px;border-radius:6px;display:inline-block;vertical-align:middle;}
.account-message li span.sp_jdt2 {background:#f0dc00;height:12px;border-radius:6px;display:inline-block;vertical-align:middle;}
.account-message li span.sp_jdt3 {background:#ff9933;height:12px;border-radius:6px;display:inline-block;vertical-align:middle;}
.account-message li span.sp_jdt4 {background:#ff495e;height:12px;border-radius:6px;display:inline-block;vertical-align:middle;}
.account-message li.li_t12 {height:32px;line-height:32px;font-size:12px;color:#666;}
.account-message li a {font-size:12px;color:#096cb2;}
.login-message {width:182px;height:126px;margin-top:20px;background:url(images/login-message.png) no-repeat;margin-right:45px;float:right;}
.login-message dl {margin:18px 0 0 12px;}
.login-message dt {height:25px;line-height:25px;color:#414141;}
.login-message dd {height:20px;line-height:20px;color:#949494;}
.account-detail {}
.account-detail dd {height:0px;line-height:0px;border-top:1px dashed #dddddd;border-bottom:1px dashed #fff;}
.account-detail dt {height:90px;overflow:hidden;}
.account-detail li {height:90px;line-height:90px;float:left;display:inline-block;}
.account-detail li.li_1 {width:106px;line-height:64px;}
.account-detail li.li_1 span {background:url(images/r_aqsz.png) no-repeat;background-position:0px -101px;width:52px;height:64px;margin:20px 0 0 34px;display:inline-block;}
.account-detail li.li_1 span.sp_1 {background-position:0px -101px;}
.account-detail li.li_1 span.sp_2 {background-position:-52px -101px;}
.account-detail li.li_1 span.sp_3 {background-position:-104px -101px;}
.account-detail li.li_1 span.sp_4 {background-position:-156px -101px;}
.account-detail li.li_1 span.sp_5 {background:url(images/sp_5.png) center no-repeat;}
.account-detail li.li_1 span.sp_6 {background:url(images/sp_6.png) center no-repeat;}
.account-detail li.li_2 {width:580px;}
.account-detail li.li_2 p.p_1 {padding-top:20px;line-height:36px;font-size:16px;}
.account-detail li.li_2 p.p_2 {line-height:18px;font-size:13px;color:#666;}
.account-detail li.li_3 {width:120px;text-align:center;}
.account-detail li.li_3 span {background:url(images/r_aqsz.png) no-repeat;background-position:0px -165px;width:52px;height:20px;line-height:20px;padding-left:10px;color:#fff;display:inline-block;vertical-align:middle;}
.account-detail li.li_3 span.sp_1 {background-position:0px -165px;}
.account-detail li.li_3 span.sp_2 {background-position:0px -185px;}
.account-detail li.li_3 span.sp_3 {background-position:0px -205px;}
.account-detail li a {margin:0 6px;color:#096cb2;}
.account-detail li a:hover {text-decoration:underline;}


/*********************PersonalData(用户管理-个人资料)*************************/
.base {}
.PersonalData-title {height:50px;line-height:50px;margin-bottom:30px;color:#654682;font-size:16px;text-indent:20px;}
.PersonalData-base {padding-left:65px;}
.PersonalData-base li {margin-bottom:20px;}
.PersonalData-base li label {width:170px;height:42px;line-height:42px;margin-right:15px;color:#414141;font-size:14px;text-align:right;letter-spacing:2px;display:inline-block;float:left;}
.btn-name {width:300px;height:40px;line-height:40px;text-indent:15px;color:#414141;font-size:14px;outline:none;border-radius:3px;border:#e5e5e5 solid 1px;}
.now-head {width:100px;height:100px;margin-right:20px;float:left;}
.upload {margin-top:70px;float:left;}
.btn-upload {width:85px;height:30px;line-height:30px;margin-right:10px;color:#fff;border:0 none;border-radius:3px;background:#93c33a;}
.PersonalData-base li span {color:#666;}
.PersonalData-base li span em {color:#ff4400;}
.li-r {height:40px;line-height:40px;float:left;position:relative;top:0;right:0;}
.time-pic {width:21px;height:17px;cursor:pointer;background:url(images/time-pic.png) no-repeat;position:absolute;top:5px;right:15px;}
.li-r .sex li {margin-right:50px;display:inline-block;float:left;}
.li-r .sex li input[type=radio] {vertical-align:middle;}
.li-r .sex li span {margin-left:12px;color:#414141;font-size:14px;vertical-align:middle;}
.li-r .residence li {margin-right:10px;display:inline-block;float:left;}
.item-select {width:128px;height:40px;line-height:40px;color:#949494;font-size:14px;text-indent:15px;background:#fff;border-radius:3px;border:#e5e5e5 solid 1px;}
.base-line {height:1px;margin:0 15px;background:#e5e5e5;}
.revise {margin-left:12px;color:#0096ff;font-size:14px;}
.save-message {margin:30px 0 0 150px;}
.btn-save {width:100px;height:35px;line-height:35px;color:#fff;outline:none;border:0 none;cursor:pointer;border-radius:5px;background:#3197de;}
.save-message p {height:45px;line-height:45px;color:#949494;}


/*********************DiscountCard(资产中心-抵扣卡券)*************************/
.DiscountCard {margin-bottom:35px;padding:0 15px 35px 15px;}
.DiscountCard-nav {border-bottom:#e5e5e5 solid 1px;}
.DiscountCard-nav-l {float:left;}
.DiscountCard-nav-l li {height:55px;line-height:55px;padding:0 15px;color:#414141;font-size:14px;cursor:pointer;display:inline-block;float:left;}
.DiscountCard-nav-l li:hover,.DiscountCard-nav-l li.li-1 {color:#ff0000;}
.DiscountCard-nav-r {padding-top:13px;float:right;}
.DiscountCard-nav-r li {height:30px;line-height:30px;color:#414141;font-size:14px;display:inline-block;float:left;position:relative;top:0;right:0;}
.DiscountCard-nav-r li input[type=text] {width:228px;height:28px;line-height:28px;outline:none;border-radius:3px;border:#e5e5e5 solid 1px;}
.DiscountCard-nav-r li a.search-btn {width:17px;height:16px;display:block;background:url(images/btn-search2.png) no-repeat;position:absolute;top:8px;right:15px;}
.filter-box {height:30px;margin:18px 0;}
.filter-nav {float:right;}
.filter-nav li {height:30px;line-height:30px;margin-left:10px;display:inline-block;border:#fff solid 1px;float:left;}
.filter-nav li:hover,.filter-nav li.li-2 {height:30px;line-height:30px;background:#fbf3d0;border:#eac515 solid 1px;}
.filter-nav li a {height:28px;line-height:28px;color:#666;}
.filter-nav li span.icon-down {padding:0 25px 0 15px;background:url(images/icon-down.png) 65px center no-repeat;}
.filter-nav li:hover span.icon-down {}
.DiscountCard-main dt span {color:#949494;display:inline-block;float:left;}
.DiscountCard-main dt {height:30px;line-height:30px;}
.DiscountCard-main dt span em {color:#414141;}
.DiscountCard-main dt a {color:#48a4f9;text-decoration:underline;display:inline-block;float:right;}
.DiscountCard-main dd {margin-bottom:35px;position:relative;top:0;right:0;}
.label-ues {position:absolute;top:0;right:0;}
.dd-main {height:115px;}
.dd-main-1 {background:#fff0bb;}
.dd-main-2 {background:#f6f6f6;}
.dd-l {width:273px;height:115px;line-height:115px;margin:0 0 0 -8px;color:#fff;font-size:78px;text-align:center;float:left;}
.dd-l-1 {background:url(images/ddbg-1.png) center no-repeat;}
.dd-l-2 {background:url(images/ddbg-2.png) center no-repeat;}
.dd-l span {font-size:36px;}
.dd-r {padding:10px 0 0 25px;float:left;}
.dd-r p {color:#414141;}
.dd-r p.p-1 {height:35px;line-height:35px;font-size:24px;}
.dd-r p.p-1 span {color:#a75312;}
.dd-r p.p-2 {height:30px;line-height:30px;font-size:18px;}
.dd-r p.p-2 a {margin-left:160px;color:#000;font-size:18px;display:inline-block;}
.view {width:20px;height:15px;margin-left:20px;display:inline-block;}


/*********************MyAccount(资产中心-我的账户)*************************/
.MyAccount-main {margin-top:15px;}
.coin-box {margin-bottom:20px;padding:10px 50px 10px 45px;border:#e5e5e5 solid 1px;}
.coin-box-l {float:left;}
.coin-box-r {float:right;}
.coin-pic {margin-right:25px;float:left;}
.coin-text {float:left;}
.coin-text p {color:#414141;}
.coin-text p.p_1 {height:50px;line-height:50px;font-size:18px;}
.coin-text p.p_1 span {color:#666;font-size:14px;}
.coin-text p.p_2 {height:50px;line-height:50px;font-size:14px;}
.coin-text p.p_2 em {color:#ff4400;font-size:24px;}
.coin-box-r {}
.coin-box-r p {height:50px;line-height:50px;}
.coin-box-r p label {width:85px;color:#666;font-size:14px;text-align:right;display:inline-block;}
.coin-box-r p em {color:#ff4400;}
.coin-box-r p a {margin-left:18px;color:#009cff;font-size:12px;display:inline-block;}
.Transactionrecord {margin-bottom:18px;}
.Transactionrecord-title {height:35px;line-height:35px;color:#414141;font-size:16px;}
.Transactionrecord-box {padding:25px 0 20px 55px;background:#f6f6f6;border:#e5e5e5 solid 1px;}
.Transactionrecord-box-main {}
.Transactionrecord-box-main li {margin-bottom:20px;display:inline-block;float:left;}
.Transactionrecord-box-main li div.r-box {float:left;}
.Transactionrecord-box-main li label {width:70px;height:32px;line-height:32px;margin-right:12px;color:#414141;font-size:14px;text-align:right;display:inline-block;float:left;}
.Transactionrecord-box-main li div.r-box span.line {display:inline-block;float:left;}
.sel-index {width:130px;height:32px;line-height:32px;margin-right:10px;color:#949494;text-indent:15px;background:#fff;border:#e5e5e5 solid 1px;float:left;}
.text-index {width:180px;height:30px;line-height:30px;color:#949494;background:#fff;border:#e5e5e5 solid 1px;float:left;}
.sel-state {width:180px;height:32px;line-height:32px;color:#949494;background:#fff;text-indent:15px;border:#e5e5e5 solid 1px;float:left;}
.range {width:100px;height:30px;line-height:30px;color:#949494;background:#fff;border:#e5e5e5 solid 1px;float:left;}
.search-box {margin-right:130px;float:right;}
.recent-box {margin-bottom:12px;}
.recent-nav {margin-bottom:12px;}
.recent-nav-l {margin-right:10px;float:right;}
.recent-nav-l label {height:25px;line-height:25px;color:#414141;display:inline-block;float:left;}
.recent-nav-l .recent-time {float:left;}
.recent-nav-l .recent-time li {height:25px;line-height:25px;padding:0 12px;margin-left:15px;cursor:pointer;display:inline-block;float:left;}
.recent-nav-l .recent-time li:hover,.recent-nav-l .recent-time li.li-time {color:#fff;background:#949494;}
.recent-record {}
.recent-record-nav {}
.recent-record-nav ul {border:#e5e5e5 solid 1px;border-bottom:none;}
.recent-record-nav li {width:163px;height:45px;line-height:45px;text-align:center;background:#f5f8fa;border-right:#e5e5e5 solid 1px;border-bottom:#e5e5e5 solid 1px;display:inline-block;float:left;}
.recent-record-nav li:hover,.recent-record-nav li.li-h4 {background:#fff;border-bottom:none;}
.panel {border:#e5e5e5 solid 1px;border-top:0 none;}
.panel table th {height:45px;line-height:45px;color:#414141;font-size:14px;border-bottom:#e5e5e5 solid 1px;}
.panel table td {height:64px;line-height:65px;color:#666;font-size:14px;text-align:center;}
.panel table td a {color:#009cff;font-size:14px;}

/*********************MyPacket(资产中心-现金红包)*************************/
.packet-box {height:114px;background:#f6f6f6;border:#e5e5e5 solid 1px;}
.packet-box-l {float:left;}
.packet-pic {margin:15px 30px 0 60px;float:left;position:relative;bottom:0;left:0;}
.packet-text {font-size:9px;display:block;position:absolute;bottom:10px;left:40px;}
.packet-text-col1 {color:#f8dc4a;}
.packet-text-col2 {color:#fff;}
.use-Condition {margin:15px 140px 0 0;float:left;}
.use-Condition li {height:25px;line-height:25px;margin-bottom:5px;color:#414141;font-size:14px;}
.use-money {height:120px;line-height:120px;color:#414141;font-size:14px;float:left;}
.use-money span {color:#ff4400;font-size:36px;}
.packet-box-r {float:right;}
.usable {width:55px;height:55px;position:absolute;top:0;left:0;}

/*********************MessageCenter(消息中心-互动消息)*************************/
.MessageCenter-main {margin-top:15px;}
.MessageCenter-nav {position:relative;top:0;right:0;}
、.MessageCenter-nav-l-l {height:38px;}
.MessageCenter-nav-l ul {height:37px;line-height:37px;padding-left:15px;border-bottom:#93c33a solid 1px;}
.MessageCenter-nav-l li {height:37px;line-height:37px;margin:0 12px 0 0;display:inline-block;float:left;}
.MessageCenter-nav-l li a {height:36px;line-height:36px;padding:0 30px;color:#414141;font-size:14px;background:#e5f2cc;border-radius:5px 5px 0 0;border:#93c33a solid 1px;border-bottom:none;text-decoration:none;display:inline-block;float:left;}
.MessageCenter-nav-l li a:hover,.MessageCenter-nav-l li a.li-h5 {height:37px;line-height:37px;color:#93c33a;background:#fff;border-bottom:1px solid #fff;}
.btn-write {width:88px;height:30px;line-height:30px;color:#fff;outline:none;border:0 none;cursor:pointer;border-radius:5px;background:#93c33b;position:absolute;top:0;right:0;}
.read-nav {}
.read-nav ul {height:40px;line-height:40px;padding-left:20px;border-bottom:#93c33a solid 1px;}
.read-nav li {height:40px;line-height:40px;padding:0 25px;color:#414141;font-size:14px;cursor:pointer;display:inline-block;float:left;}
.read-nav li:hover,.read-nav li.li-h6 {color:#ff4400;}
.read-main {padding:15px 0 0 28px;}
.remark {margin-bottom:35px;}
.remark input[type=radio] {vertical-align:middle;}
.remark span {height:30px;line-height:30px;color:#0088cc;vertical-align:middle;display:inline-block;}
.sel-read {width:130px;height:30px;line-height:30px;color:#414141;outline:none;text-indent:15px;background:#fff;border-radius:3px;vertical-align:middle;border:#e5e5e5 solid 1px;display:inline-block;}
.command-main {}
.command-main li {margin-bottom:50px;}
.command-main li input[type=checkbox] {margin-right:27px;vertical-align:middle;float:left;}
.command-pics {margin-right:30px;float:left;}
.command-pic {width:100px;height:100px;border:#e2e2e2 solid 1px;}
.command-pics p {height:25px;line-height:25px;color:#414141;text-align:center;}
.command-box {padding-bottom:25px;border:#e0e0ff solid 1px;border-radius:10px;float:left;position:relative;top:0;left:0;}
.sharp-pic {width:18px;height:33px;background:url(images/sharp-pic.gif) no-repeat;position:absolute;top:35px;left:-16px;}
.remark-read {width:67px;height:58px;position:absolute;top:0;right:0;}
.command-box-head {width:760px;height:13px;margin-bottom:25px;border-bottom:#e0e0ff solid 1px;background:url(images/command-box-head.gif) repeat-x;}
.command-content {margin:0 35px;}
.command-text {margin-bottom:20px;color:#777;font-size:14px;}
.command-text span {color:#0088cc;display:inline-block;float:left;}
.text-main {float:left;}
.text-time {margin-bottom:30px;color:#b3b3b3;}
.btn-a {padding-right:25px;background:url(images/sp-icon.png) right center no-repeat;}
.btn-more {color:#949494;float:left;}
.btn-reply {color:#0088cc;float:right;}
.more-opera {margin-bottom:20px;}
.input-reply input[type=text] {width:620px;height:38px;line-height:38px;outline:none;border:#e5e5e5 solid 1px;border-right:0 none;}
.input-reply input[type=button] {width:75px;height:40px;line-height:40px;outline:none;color:#414141;font-size:14px;background:#f6f6f6;border:#e5e5e5 solid 1px;}
.reply-content {padding:10px 0 0 0;border-top:#e5e5e5 dashed 1px;}
.reply-text {height:35px;line-height:35px;color:#777;font-size:14px;text-align:right;}
.text-r {text-align:right;}

/*********************消息中心-写私信*************************/
.write-box {width:620px;height:320px;background:#fff;border-radius:10px;}
.write-box-title {height:50px;line-height:50px;border-bottom:#c9c9c9 solid 1px;}
.write-box-title span {color:#000;font-size:16px;text-indent:20px;display:inline-block;float:left;}
.write-box-title a.btn-close {width:19px;height:21px;margin:15px 15px 0 0;display:inline-block;float:right;background:url(images/btn-close.png) no-repeat;}
.write-main {margin-top:20px;padding-left:80px;}
.write-main-col {margin-bottom:20px;}
.write-main-col label {height:40px;line-height:40px;margin-right:15px;color:#414141;font-size:14px;display:inline-block;float:left;}
.col {color:#ff4400;}
.message-text {float:left;}
.message-text textarea {width:360px;height:120px;border-radius:5px;border:#e5e5e5 solid 1px;}
.message-text p {height:35px;line-height:35px;color:#666;}
.btn-same {width:95px;height:30px;line-height:30px;border:none;font-size:14px;outline:none;cursor:pointer;border-radius:5px;}
.btn-cancel {width:100px;height:35px;line-height:35px;color:#414141;font-size:14px;outline:none;cursor:pointer;border-radius:5px;border:#bfbfbf solid 1px;}
.btn-fr {margin-right:20px;float:right;}

/*个人认证*/
.personStep-img {text-align:center;padding:45px 0 25px;}
.PersonalData-title.orange {color:#f7941d;}
.personalTrust .PersonalData-title {font-weight:800;}
.personalTrust .PersonalData-base li label {width:140px}
.PersonalData-base li span.red {color:#ff5858;}
.personalTrust .PersonalData-base li span.btn-name {border:none;}
.personalTrust .upload {margin-top:5px;position:relative;cursor:pointer;}
.personalTrust .btn-upload-img {position:absolute;left:0px;top:0px;width:85px;height:30px;opacity:0;filter:alpha(opacity=0)}
.personalTrust .now-head {width:700px;height:200px;}
.personalTrust .item-select {width:300px;}
.btnStep {text-align:center;}
.btnStep a {background:#3197de;padding:8px 30px;display:inline-block;border-radius:4px;color:#fff;margin-right:30px;}
.personalTrust .idCard-msg {width:325px;height:230px;}
.updown-msg {color:#ff4400;font-size:16px;text-align:center;padding:10px 0 5px;}
.personMsgTitle {color:#333;font-size:16px;text-align:center;padding:25px 0 10px;text-align:center;}
.personMsgTable table {width:60%;margin:0 auto;}
.personMsgTable table tbody tr td {border-right:1px solid #e5e5e5;}
.personMsgTable table tbody tr td:nth-child(1) {color:#999;}
.personMsgTable table tbody tr td:nth-child(2) {color:#333;}


/*个人中心-动态记录-预约看房*/
.appointmentLookHouse .CaptureroomRecord-content-box{margin-top: 20px;}
.appointmentLookHouse .CaptureroomRecord-content-box .CaptureroomRecord-msg{font-size: 12px;margin-right: 20px;}
.participants-box-appointment{width: 100%;border: 0;box-sizing: border-box;}
.participants-box-appointment{*width: 97%;}
.participants-box-appointment .already-title .already-title-head{font-size: 18px;}
.participants-box-appointment .already-title .already-title-time{font-size: 14px;}
.participants-box-appointment .already{width: 79%;}
.participants-box-appointment .already{*width: 77%;}
.participants-house table{width: 100%;}
.participants-house table tbody tr td{color: #777777;font-size: 14px;width: 50%;padding: 5px 0;}
.btnappointDel a.blue{background: #3097dc;}
.btnappointDel a.green{background: #93c33b;}
.participants-box-appointment .reverse-order-total{padding-right: 20px;}

	
	