@charset "utf-8";
body{font-family:"Microsoft YaHei";}

	/*公用*/
a{color: #3197de;}
.gray{color: #808080;}
.red{color: #ff4242;}
.orange{color: #f7941d;}
.fl{float: left;}
.fr{float: right;}
.mt10{margin-top: 10px;}
.blue{color: #4491dc;}
.mt20{margin-top: 20px;}
.mt15{margin-top: 15px;}
.mt45{margin-top: 45px;}
.mt60{margin-top: 60px;}
.ml5{margin-left: 5px;}
.mt30{margin-top: 30px;}
.mb20{margin-bottom: 20px;}
.mb50{margin-bottom: 50px;}
.mt50{margin-top: 50px;}
.mt40{margin-top: 40px;}
.mb150{margin-bottom: 150px;}
sup{vertical-align: super;}
.cursor{cursor: pointer;}
.mb250{margin-bottom: 250px;}
.mb10{margin-bottom: 10px;}
.mt60{margin-top: 60px;}
.mt100{margin-top: 100px;}
.mt120{margin-top: 120px;}
.mt70{margin-top: 70px;}
.pb15{padding-bottom: 15px;}
.pt15{padding-top: 15px;}
.mb60{margin-bottom: 60px;}
.f20{font-size: 20px;}
.pt20{padding-top: 20px;}
.ml10{margin-left: 10px;}
.fz18{ font-size:18px;}
.ml150{ margin-left:150px;}
.ml250{margin-left: 250px;}
.mt5{margin-top: 5px;}
.black{color: #000;}
.f24{font-size: 24px;}
.f30{font-size: 30px;}
.ifame-PersonalCenter{width: 985px;min-height: 2000px;overflow: hidden;}
.ifame-PersonalCenter-1500{min-height: 1500px;}
.mb130{margin-bottom: 130px;}
.btnReOrder a,.btnOrderConcede a,.btnOrderDelay a,.btnOrderPay a,.btnOrderDelete a,.btnOk a{padding: 6px 18px;color: #fff;border-radius: 5px;margin-left: 10px;}
.page a{margin-left: 5px;}
#page{float: right;}
.text-center{text-align: center;}
.btn-submit.red{background: #f84444;}
.green{color:#0FBD14;}
.noMr{margin-right: 0px;}
.pb10{padding-bottom: 10px;}
table{border-collapse: collapse;border: 1px solid #e5e5e5;width: 100%;border-radius: 2px;}
table tbody tr td{text-align: center;border: 1px solid #e5e5e5;border-right: none;border-left: none;padding: 10px 0;color: #666;font-size: 14px;}
table tbody tr td.text-left{text-align: left}
.lay-tips{font-size: 16px;padding: 30px 20px 0;}
.lay-tips-line{padding: 0 20px 0;}
.search-agency{width: 242px;}
.input-detail li input[type=text],select{ width:198px; height:32px; line-height:32px; outline:none; border:#dcdcdc solid 1px;}
input[type=button]{cursor: pointer;}
select,input{padding-left: 10px;}
.settimeWrap .timeAlone .write-time{width: 300px;height: 40px;line-height: 40px;}
.remark{position: relative;}
.remark .sel-read{position: relative;margin-left: 20px;}
.remark .sel-read .btn_dropdown{color: #666;}
.remark span.remark-stade{position: absolute;width: 130px;height: 85px;border: 1px solid #e5e5e5;left: 37px;top: 32px;border-radius: 5px;z-index: 10;background: #fff;}
.remark span.remark-stade  a{display: block;width: 100%;padding: 5px 0;text-align: center;color: #414141;}
.remark span.remark-stade  a:hover{background: #93c33a;color: #fff;}
.remark span.ico_select_s{background: url(images/mail-drop.png) no-repeat 0;width: 7px;height: 4px;position: absolute;right: 15px;top: 14px;overflow: hidden;}
.iframe1500{min-height: 1500px;}
.txtTips{display: inline-block;font-size: 16px;text-align: center;margin-top: 20px;padding-left: 150px;}
.commet-problem-rel .btn-ok{text-align: left;margin-top: 20px;margin-bottom: 20px;}
.iframe1000{ min-height:1000px;}
.f18{font-size: 18px;}
.ml15{ margin-left:15px;}
.mr5{margin-right: 5px;}
.pb20{padding-bottom: 20px}
.pdlr15{ padding:0 15px;}
.timeCapacity{ width:300px; height:40px;}
.Wdate.timeCapacity{ width:300px; height:40px!important;background: url(images/datePicker.png) no-repeat right center;}
.mr150{ margin-right:150px;}
.psrelative{ position:relative; top:0; right:0}
.pt-abtr{ position:absolute; top:5px; right:15px;}
.noBorder{border: none;}
.mb30{margin-bottom: 30px;}
.mb60{margin-bottom: 60px;}
.lineLight{height: 1px;background: url(images/lineLight.png) repeat-x left;}
.container{width: 1200px;margin: 0 auto;}
.ml20{margin-left: 20px;}
.pl10{padding-left: 10px;}
.pl30{padding-left: 30px;}
.mt25{margin-top: 25px;}
.mr10{margin-right: 10px;}
.mr20{margin-right: 20px;}
.ml80{margin-left: 80px;}
.mt35{margin-top: 35px;}
.mr80{margin-right: 80px;}
.no-mr{margin-right: 0;}
.ml50{margin-left: 50px;}
.hr{width: 100%;margin: 0px auto 0;display: block;height: 2px;background: url(images/line-hr.png) repeat-x center;}
.mr130{margin-right: 130px;}
.mr210{margin-right: 210px;}

/*首页-头部*/
.PersonalCenter-sel{position: absolute;right: 0;}
.PersonalCenter-sel select{width: 235px;height: 30px;margin-top: 15px;padding-left: 5px;color: #646464;border: 0;box-shadow:inset 0 0 6px #999;}


/*PersonalCenter-public*/
.PersonalCenter-header{height:60px;}
.PersonalCenter-header-w1200{width:1200px;height:60px;line-height:60px;margin:0 auto;}
.PersonalCenter-header-l{float:left;}
.myjz-logo{margin-right:40px;float:left;}
.myjz-logo img{width: 147px;height: 53px;padding-top: 4px;}
.location{height:60px;line-height:60px;padding-left:25px;background:url(images/location.png) left center no-repeat;float:left;}
.location-address{color:#333;font-size:14px;}
.areaLocation{display: inline-block;padding: 0 5px;}
.location-down{width:15px;height:11px;margin-left:12px;display:inline-block;background:url(images/location-down_03.png) right center no-repeat;}
.PersonalCenter-header-nav{margin-left:40px;float:left;}
.PersonalCenter-header-nav li{margin-right:40px;display:inline-block;float:left;}
.PersonalCenter-header-nav li a{color:#414141;font-size:14px;}
.PersonalCenter-header-r{float:right;}
.PersonalCenter-header-r ul li{position: relative;}
@media screen and (max-width: 1024px){.PersonalCenter-header-r{margin-right: 20px;}}
.userMsg{width: 230px;position: absolute;left: -62px;top: 60px;z-index: 100;}
.userMsg-link{left: -60px;width: 130px;}
.userMsg-link ul li{height: 30px;line-height: 30px;}
.userMsg ul{background: #f2f2f2;}
.userMsg ul li a{color: #666;}
.userMsg-data{width: 230px;}
.userMsg-data img{width: 41px;height: 44px;padding: 10px;float: left;}
.userMsg-data{background: #f2f2f2;}
.userMsg-data .userMsg-data-detail{float: left;line-height: 25px;padding-top: 10px;}
.userMsg-data .userMsg-name{display: inline-block;width: 100%;height: 20px;}
.userMsg-data .userMsg-link a{color: #3e99d1;}
.userMsg-data-money{width: 230px;height: 45px;line-height: 45px;}
.userMsg-data-money-detail{color: #808080;display: inline-block;padding-left: 10px;}
.userMsg-data-money a{border: 1px solid #e5e5e5;border-radius: 4px;display: inline-block;padding: 2px 20px;line-height: 20px;margin-left: 5px;}
.userMsg .Userline-hr{background: url(images/commet-leaveMsg-news-line.png) repeat-x center;display: block;height: 1px;width: 220px;margin: 0 auto;}
.privilege-link{line-height: 30px;padding-left: 10px;margin-bottom: 10px;}
.privilege-link a{color: #0088cc;}
.userMsg-link-body{border: 1px solid #f2f2f2;background: #fff;}
.PersonalCenter-header-r li{margin-left:13px;display:inline-block;float:left;}
.PersonalCenter-header-r li a{color:#666;}
.PersonalCenter-header-r li.first a{color:#f7941d;}
.PersonalCenter-header-r li .userMsg a{color:#3e99d1;}
.PersonalCenter-header-r li:first-child a
.PersonalCenter-header-r li span{display:inline-block;}
.sp-icon{padding-right:18px;background:url(images/sp-icon.png) right center no-repeat;}
/*PersonalCenter-banner*/
.PersonalCenter-banner{height:60px;background:#f7941d;min-width: 1200px;width: 100%;}
.PersonalCenter-banner-w1200{width:1200px;height:60px;line-height:60px;margin:0 auto;position: relative;}
.PersonalCenter-banner-w1200 img{margin-left: 20px;margin-top: 10px;position: absolute;left: 0;}
.PersonalCenter-banner-w1200 ul{margin-left: 70px;position: absolute;left: 240px;}
.PersonalCenter-banner-w1200 ul li{float: left;margin-right: 30px;}
.PersonalCenter-banner-w1200 ul li a{color: #fff;padding: 8px 25px;border: 1px solid #f7941d;font-size: 14px;}
.PersonalCenter-banner-w1200 ul li a:hover,.PersonalCenter-banner-w1200 ul li.active a{background: #f68419;border: 1px solid #f57414;border-radius: 2px;text-decoration: none;}
.back-index{width:83px;height:28px;line-height:28px;margin:15px 0 0 245px;color:#fff;font-size:14px;outline:none;cursor:pointer;border:#9073ab solid 1px;border-radius:3px;background:#6f4d8f;}
/*PersonalCenter-main*/
.PersonalCenter-main{width: 1200px;margin: 0 auto;}
.PersonalCenter-main-w1200{min-width:1200px;margin:20px auto 50px;}
/*PersonalCenter-main-l*/
.PersonalCenter-main-l{width:190px;margin-right:15px;background:#fff;border:#eee solid 1px;display:inline-block;float:left;margin-left: 5px}
.PersonalCenter-main-l dl{padding:25px 0 15px 0;}
.PersonalCenter-main-l dt{height:40px;line-height:40px;padding:0 0 0 62px;color:#fbc98e;font-size:18px;letter-spacing:2px;}
.PersonalCenter-main-l dt.user-management{background:url(images/user-management.png) 20px center no-repeat;}
.PersonalCenter-main-l dt.trading-center{background:url(images/trading-center.png) 20px center no-repeat;}
.PersonalCenter-main-l dt.asset-center{background:url(images/asset-center.png) 20px center no-repeat;}
.PersonalCenter-main-l dt.message-center{background:url(images/message-center.png) 20px center no-repeat;}
.PersonalCenter-main-l dt.dynamic-recording{background:url(images/dynamic-recording.png) 20px center no-repeat;}
.PersonalCenter-main-l dd{padding: 5px 0;position: relative;}
.PersonalCenter-main-l dd .msg-tips{position: absolute;right: 44px;top: 11px;}
.msg-tips{display: inline-block;width: 16px;height: 16px;line-height: 16px; background: url(images/tips-circle.png) no-repeat center;color: #fff;text-align: center;vertical-align: middle;}
.PersonalCenter-main-l dd a{height:30px;line-height:30px;padding:0 0 0 62px;color:#373737;font-size:14px;letter-spacing:2px;}
.PersonalCenter-main-l dd.active>a{color: #fbc98e;}
.bottom-line{width:166px;height:1px;line-height:1px;margin:0 12px;background:#d2d2d2;}
/*PersonalCenter-main-r*/
.PersonalCenter-main-r{width:985px;float:left;}
/*split-line*/
.split-line{height:1px;background:#d2d2d2;width: 100%;min-width: 1200px;}
.split-line-w1200{height:1px;margin:0 192px;background:#d2d2d2;}
/*ZWRearch-bottom-w1200*/
.ZWRearch-bottom{width: 100%;min-width: 1200px;}
.ZWRearch-bottom-w1200{margin:0 192px;}
.other-link{height:25px;line-height:25px;padding-top:37px;text-align:center;}
.other-link a{margin:0 20px;color:#343434;font-size:12px;}
.copyright{height:35px;line-height:35px;color:#343434;font-size:12px;text-align:center;}
.item-pic{padding-bottom:25px;text-align:center;}
.item-pic a{margin:0 2px;display:inline-block;}
/*MyFootprint-title*/
.MyFootprint-title{height:40px;line-height:40px;text-indent:10px;border-bottom:#e4e4e4 solid 1px;}
.level-1{color:#654682;font-size:18px;}
.level-2{color:#414141;font-size:14px;}
/*CaptureroomRecord-main*/
.CaptureroomRecord{}
.CaptureroomRecord-main{margin:12px 0 0 0;padding-bottom:20px;border:#e4e4e4 solid 1px;}
/*page*/
.page{margin:20px 15px 0 0;float:right;}
.page a{height:28px;line-height:28px;padding:0 10px;color:#848484;border:#ededed solid 1px;display:inline-block;}
.page a.page-num{height:30px;line-height:30px;color:#fff;border:0 none;background:#428bca;}

/*登入界面*/
.phcolor{ color:#999;}
.indexCenter-login{width: 1000px;margin: 0 auto;margin-top: 60px;overflow: hidden;margin-bottom: 250px;}
.login-ad{width: 650px;height: 400px;}
*.login-ad{width: 620px;height: 400px;overflow: hidden;}
*.login-ipt{height: 399px;}
.login-ipt{width: 350px;height: 400px;border: 1px solid #e5e5e5;box-sizing: border-box;padding-left: 25px;}
.login-ipt h3{font-size: 18px;color: #414141;margin-top: 25px;}
.login-ipt-txt{position: relative;}
.login-ipt-txt input{width: 290px;height: 40px;line-height: 40px;border: 1px solid #e5e5e5;border-radius: 5px;padding-left: 30px;box-sizing: border-box;}
.login-ipt-txt img{position: absolute;left: 5px;top: 13px;}
.login-link{margin-top: 10px;}
.login-link .rememberPas-link{color: #999;padding-left: 20px;display: inline-block;text-decoration: underline;}
.login-link .rememberPas-resige{color: #3197de;margin-right: 35px;text-decoration: underline;}
.btn-login{width: 290px;height: 40px;line-height: 40px;background: #ff4400;display: block;color: #fff;text-decoration: none;text-align: center;font-size: 14px;border-radius: 5px;}
.login-others a{display: inline-block;}
.errMsg{text-align: left;margin-top: 10px;}
.errMsg span{color: 14px}

/*前端-注册*/
.register-header{}
.register-header-w1000{width:1000px; margin:80px auto 0px; padding:0 0 10px 0; border-bottom:#dcdcdc solid 1px;}
.register-header-l{ float:left;}
.regist-myjz-logo{ float:left;}
.goback{ margin:50px 0 0 0;isplay:inline-block; color:#414141; font-size:14px; float:left;}
.register-header-r{ float:right;}
.LoginNow{ width:100px; height:30px; line-height:30px; color:#7ab800; font-size:14px; border:#7ab800 solid 1px; background:#fff; outline:none;cursor: pointer;}
.register-main-w1000{ width:1000px; margin:0 auto;}
.register-main{ min-height: 600px}
.register-main-title{ height:80px; line-height:80px; color:#414141; font-size:24px; letter-spacing:2px;}
.register-main-content{ margin-bottom:20px;}
.register-main-content li{ margin-bottom:20px; position: relative; top:0; right:0;}
.register-main-content li label{ width:105px; height:40px; line-height:40px; margin-right:10px; text-align:right; color:#414141; font-size:14px; display:inline-block; float:left;}
.register-main-content li input[type=text]{ width:288px; height:38px; line-height:38px; border:#dcdcdc solid 1px; border-radius:5px; float:left;padding-left: 10px;}
.level{ margin:12px 0 0 10px; float:left;}
.level span{ width:60px; height:20px; line-height:20px; margin:0 5px 0 0; color:#fff; text-align:center; display:inline-block}
.level span.level-weak{ background:#f7941d;}
.level span.level-middle{ background:#ff4400;}
.level span.level-strong{ background:#ff0000;}
.tip{ height:40px; line-height:40px; margin:0 0 0 10px; color:#333; font-size:14px; float:left;}
.reCaptcha{ float:left; position:relative; top:0; right:0;}
.btn-reCaptcha{ width:85px; height:40px; border:#dcdcdc solid 1px; outline:none; background:#eee; position:absolute; top:0px; right:0px;cursor: pointer;}
.btn-reCaptcha-t{color: #ff0000;}
.btn-now{ width:285px; height:35px; line-height:35px; margin:20px 0 0 340px; color:#fff; font-size:14px; border:none; outline:none; border-radius:5px; background:#7ab800;cursor: pointer;}

/*按钮*/
.btn-fault{border: 1px solid #e5e5e5;padding: 6px 30px;color: #666;border-radius: 5px;display: inline-block;}
.btn-green{background: #93c33a;border: 1px solid #93c33a;color: #fff;}
.btn-wrap a{margin-right: 10px;}
.btn-gray{background: #f6f6f6;color: #7B7676;border: 1px solid #b5b5b5;}
.btn-gray.no-radius{border-radius: 0px;}
.btn-danger{background: #ec5140;color: #fff;border: 1px solid #ec5140;}
.btn-blue{background: #3197de;border: 1px solid #3197de;color: #fff;}
.btn-orange{background: #f7941d;border: 1px solid #f7941d;color: #fff;}
.no-radius{border-radius: 0px;}

/*前端-忘记密码*/
.regist-bar01{ width:787px; height:39px; margin:0 auto 55px; background:url(images/register-bar01.png) no-repeat;}
.btn-register-ok{  width:285px; height:35px; line-height:35px; margin:20px 0 0 320px; color:#fff; font-size:14px; border:none; outline:none; border-radius:5px; background:#ff4400;}

/*前端-身份验证*/
.regist-bar02{ width:787px; height:39px; margin:0 auto 55px; background:url(images/register-bar02.png) no-repeat;}
.input-text{ height:40px; line-height:40px; color:#414141; font-size:14px;}

/*前端-重置密码*/
.tip-text{ width:500px; height:50px; margin:0 auto 25px; color:#414141; font-size:16px;}
.regist-bar03{ width:787px; height:39px; margin:0 auto 55px; background:url(images/register-bar03.png) no-repeat;}
.password-tip{ padding:10px 0 30px 10px; display:block; border:#ccc solid 1px; position:absolute; top:0; right:80px;}
.register-main-content li .tip-item li{ height:25px; line-height:25px; padding-left:15px; margin-bottom:0; background:url(images/spot.png) left center no-repeat;}
.Security-level span{ width:37px; height:18px; line-height:18px; color:#fff; text-align:center; background:#aaa; display:inline-block}
.Security-level span.level-weak{ background:#f7941d;}
.Security-level span.level-middle{ background:#ff4400;}
.Security-level span.level-strong{ background:#ff0000;}
.lsharp{ position:absolute; top:50px; left:-5px;}

/*前端-重置成功*/
.regist-bar04{ width:787px; height:39px; margin:0 auto 55px; background:url(images/register-bar04.png) no-repeat;}
.clock{ height:35px; line-height:35px; margin-top:20px; display:inline-block; color:#666; font-size:14px; float:left;}

/*时间控件样式*/
.Wdate{border: #e5e5e5 solid 1px!important;height: 28px!important;}

/*地图定位*/
.areaWrap{padding: 20px 30px;}
.areaWrap .area-title{font-size: 24px;}
.areaWrap .area-abc span a{display: inline-block;padding: 0 10px;color: #000;}
.areaWrap .area-abc span a:hover,.areaWrap .area-abc span.active a{color: #f7941d;}
.areaList ul li{float: left;}
.areaList ul li a{border: 1px solid #e5e5e5;padding: 10px 30px;color: #000;margin: 0 30px 20px 0;display: inline-block;}
.areaList ul li.noMr a{margin: 0 0 20px 0;}

/*房地产商-头部*/
.headSearch{width: 100%;background: #f6f6f6;border-top: 1px solid #e4e4e4;border-bottom: 1px solid #e4e4e4;height: 62px;line-height: 62px;min-width: 1200px;}
.headSearch .searchIpt-wrap{float: left;display: inline-block;position: relative;margin-top: 15px;}
.headSearch .searchIpt{width: 1200px;margin: 0 auto;}
.headSearch .searchIpt input{width: 420px;height: 35px; line-height:35px;border: 1px solid #f7941d;box-sizing: border-box;font-size: 16px;color: #000;padding-left: 10px;}
.headSearch .searchIpt .btnSearch{height: 35px;line-height: 35px;width:81px;background: #f7941d;display: inline-block;color: #fff;position: absolute;top: 0px;text-align: center;font-size: 16px;}
.headSearch .searchIpt .orientation{float: left;display: inline-block;margin-left: 90px;font-size: 14px;}
.headSearch .searchIpt .orientation img{margin-right: 5px;}