/*交易中心-我的订单*/
.tradingCent-tip ul{margin-top: 15px;font-size: 14px;}
.tradingCent-tip ul li{float: left;margin-right: 25px;}
.tradingCent-tip ul li a{color: #414141;text-decoration: none;}
.tradingCent-tip ul li a:hover{color: #ff1e00;}
.tradingCent-tip ul li.active a{color: #ff1e00;}
.order-detail{margin-top: 40px;}
.order-detail-title span{display: inline-block;margin-right: 45px;font-size: 12px;color: #888;}
.icon-msg{width: 39px;height: 30px;background: url(images/icon-msg.png) no-repeat center;}
.order-detail-tel{position: relative;}
.order-detail-tel .icon-msg{position: absolute;top: 50%;margin-top: -15px;right: -90px;}
.detail-body-l{float: left;}
.detail-body-l img{padding:0 4px;width: 300px;height: 200px;box-sizing: border-box;}
.detail-body-r{ width:670px;float: right;}
.detail-body-r-t{box-sizing: border-box;padding: 15px 10px 29px;border: 1px solid #aed8ff;}
.detail-body-r h3{float: left;font-size: 16px;}
.detail-body-r .detail-r-t-head a{float: right;color: #666;display: inline-block;padding: 4px 8px;border: 1px solid #b5b5b5;}
.detail-r-t-body{margin-top: 10px;}
.detail-r-t-body table{width: 100%;}
.detail-r-t-body table tr td{font-size: 14px;line-height: 40px;color: #808080;}
.detail-r-t-body table tr td:last-child{text-align: right;}
.detail-r-t-body table tr td.last-child{text-align: right;}
.order-close{color: #bdbdbd;}
.order-success{color: #4ea147;}
.order-wait{color: #6c8ec7;}
.order-wait-pay{color: #6c8ec7;}
.detail-body-r-b{box-sizing: border-box;padding: 0px;border: 1px solid #e5e5e5;border-bottom: none;}
.detail-body-r-b table{width: 100%;border-collapse: collapse;}
.detail-body-r-b table thead tr th{background: #f5f8fa;font-size: 14px;color: #546d7e;border-color: #f5f8fa;padding: 8px 0;border-right:0;}
.detail-body-r-b table tbody tr td{text-align: center;padding: 15px 25px;font-size: 14px;border:1px solid #e5e5e5;}
.detail-body-r-total{box-sizing: border-box;padding: 15px 20px;border: 1px solid #e5e5e5;border-top: none;}
.detail-body-subscription{font-size: 18px;float: left;}
.detail-body-r-total span a{padding: 8px 25px;color: #fff;border-radius: 5px;margin-left: 10px;}
.detail-body-discuss a{background: #93c33b;}
.detail-body-progress a{background: #3197de;}
.detail-body-countdown{font-size: 12px;color: #666;}
.detail-body-countdown span{display: inline-block;padding: 0 2px;margin-top: 2px;}
.order-detail-list{margin-bottom: 60px;}
.btn-order-delete a{background: #a0a0a0;}
.btn-order-pay a{background: #f84444;}
.privilegeTips{display: block;}
.privilegeTips .privilegeTips-title{min-width: 65px;text-align: right;display: inline-block;}
.privilegeTips .privilegeTips-detail{display: inline-block;min-width: 70px;text-align: left;padding-left: 2px;}
.detail-body-r h4.title{font-size: 14px;color: #3197de;text-align: center;padding: 5px 10px;background: #eaf8ff;border: 1px solid #aed8ff;border-bottom: none;position: relative;}
.detail-body-r h4.title a{position: absolute;right: 15px;color:#3197de; }
.detail-body-sta a{background: #f2af00;}


/*交易中心-提交预定申请*/
.reverseStade{height:50px; line-height:50px; padding: 0px 25px;background: #f5f8fa;font-size: 14px;margin-top: 10px;}
.reverseStade span{ display:inline-block;}
.reverse-body{padding: 15px 20px;border: 1px solid #e5e5e5;}
.reverse-detail table{width: 100%;border-collapse: collapse;}
.reverse-detail table tr td{padding: 10px 0 10px;font-size: 14px;border-bottom: 1px solid #e5e5e5;color: #808080;}
.reverse-detail table tr:first-child td{padding-top: 0px;}
.reverse-detail .linkman img{padding-left: 10px;cursor: pointer;}
.level-state{margin-top: 15px;}
.level-state ul li{float: left;padding-left: 15px;margin-right: 35px;}
.level-state ul li.level-state01{background: url(images/level-state01.png) no-repeat left;}
.level-state ul li.level-state02{background: url(images/level-state02.png) no-repeat left;}
.level-state ul li.level-state03{background: url(images/level-state03.png) no-repeat left;}
.reverse-order-detail table{border-collapse: collapse;width: 100%;border: 1px solid #e5e5e5;}
.reverse-order-detail table thead tr{border: 1px solid #e5e5e5;}
.reverse-order-detail table thead tr th{background: #f5f8fa;font-size: 14px;padding: 5px 0;}
.reverse-order-detail table tbody tr td{border: 1px solid #e5e5e5;padding: 40px 10px;font-size: 12px;}
.merMsgOne img{float: left;width: 130px;height: 97px;box-sizing: border-box;padding: 3px;border:1px solid #e5e5e5;cursor:pointer;}
.merMsgOne .merMsgOne-msg{float: left;margin-left: 10px;}
.merMsgOne .merMsgOne-msg .merMsgOne-list{display: block;font-size: 12px;margin-bottom: 2px;}
.privi .priviList{display: block;}
.reverse-order-total .total-money{font-size: 16px;float: left;}
.reverse-order .gray{margin-top: 5px;}
.reverse-order-total .total-money span{font-weight: 800;}
.btnOrderDelete a{background: #a0a0a0;}
.btnOrderPay a{background: #f84444;}
*+.reverse-order-total a{line-height: 2.6}
.btnOrderDelay a{background: #3197de;}
.btnOrderConcede a{background: #93c33b;}

/*交易中心-用户支付订金*/
.order-delay{display: block;}
.order-delay-msg{display: block;color: #ff6842;}

/*交易中心-订单关闭*/
.reverseStade .reverseStade-tip{float: right;font-size: 14px;color: #ff4400;}
.reverseStade .reverseStade-tip.reverseStade-tip-ok{color: #61AF53;}
.reverseStade-tip img{vertical-align: middle;margin-right: 10px;}
.btnReOrder a{background: #f84444;}

/*交易中心-订单完成*/
.reverseStade-tip-ok{color: #3a9b27;}
.total-money-complete{float: right;font-size: 16px;}
.total-money-complete span{font-weight: 800;}
.houseRecode h3{font-size: 18px;font-weight: 400;}
.houseRecode-body{margin-left: 90px;}
.icon-tips-star{display: inline-block;width: 12px;height: 12px;background: url(images/house-start.png) no-repeat center;}
.houseRecode-tips dl dt,.houseRecode-tips dl dd{float: left;font-size: 14px; vertical-align:middle;}
.houseRecode-tips dl dt{margin-right: 10px;}
.houseRecode-tips dl dd{margin-right: 45px;}
.houseRecode-tips dl dd span{cursor: pointer;}
/**.houseRecode-write{margin-left: -90px;}*/
.houseRecode-write{width: 648px;height: 110px;margin-top: 10px;margin-left: 0px\0;}
.houseRecode-write-tips{display: block;font-size: 14px;}
.icon-inputImg{display: inline-block;width: 78px;height: 78px;background: url(images/uploadImg.png) no-repeat center;margin-right: 10px;cursor: pointer;}
.icon-inputImg input{width: 78px;height: 78px;opacity: 0;cursor: pointer;filter:alpha(opacity=0);}
.btn-uploadImg{display: inline-block;padding: 5px 15px;border: 1px solid #e5e5e5;cursor: pointer;color: #000;}
.line-hr{width: 100%;margin: 40px auto 0;display: block;height: 2px;background: url(images/line-hr.png) repeat-x center;}
.houseRecode .serveMan{float: right;font-size: 12px;}
.btnUpdateMsg{display: inline-block;padding: 5px 15px;background: #3197de;color: #fff;border-radius: 4px;}

/*交易中心-评论完成*/
.houseRecode-comment{font-size: 14px;margin-top: 20px;}
.icon-Img{display: inline-block;width: 78px;height: 78px;background: url(images/icon-img.png) no-repeat center;margin-right: 10px;}
.addComment{font-size: 14px;}
.addComment input{width: 440px;height: 32px;border:1px solid #e5e5e5;margin-right: 10px;}

/*申请退款-申请退订*/
.reverseTitle-number{float: right;font-size: 14px;color: #808080;font-weight: 400;}
.comment-title{font-size: 18px;font-weight: 400;}
.comment-title .comment-time{float: right;font-size: 14px;color: #808080;}
.comment-body{margin-left: 90px;}
.comment-body .comment-body-title{display: inline-block;text-align: right;font-size: 14px;margin-right: 10px;float: left;}
.comment-body .comment-body-ipt{display: inline-block;float: left;}
.comment-body .comment-body-ipt>span{color: #808080}
.comment-body .comment-body-ipt select,.comment-body .comment-body-ipt input{width: 240px;height: 35px; line-height:35px;border: 1px solid #e5e5e5;color: #808080;font-size: 14px;}
.comment-body .comment-body-ipt select{padding-left: 10px;}
.offerPayTel{color: #7dbeff;margin-left: 5px;display: inline-block;text-decoration: underline;}
.offerPayTxt{width: 480px;height: 110px;border: 1px solid #e5e5e5;margin-left: 3px;}
.comment-body-btn{margin-left: 85px;}
.btn-submit{background: #93c33b;color: #fff;display: inline-block;padding: 6px 40px;border-radius: 4px;font-size: 14px;}
.btn-link{color: #42a8ff;font-size: 14px;text-decoration: underline;padding: 6px 10px;}
.commet-problem{margin-left: 90px;}
.commet-problem p{color: #333;font-size: 14px;line-height: 25px;}
.commet-problem .commet-problem01{margin-bottom: 10px;}

/*申请退款-卖家处理申请*/
.line-hr.mt20{margin-top: 20px;}
.commet-operation{margin-left: 90px;margin-top: 20px;}
.commet-operation span,.commet-operation a{font-size: 14px;}
.commet-operation a{color: #26a0ff;}
.split{display: inline-block;margin: 0 10px;color: #888;}
.commet-leaveMsg{margin-top: 20px;}
.icon-commet-head{vertical-align: top;width: 56px;height: 56px;}
.commet-leaveMsg-list{font-size: 14px;padding-left: 20px;max-width: 500px;display: inline-block;}
.commet-leaveMsg-detail{float: left;}
.commet-leaveMsg-time{float: right;color: #888;font-size: 14px;}

/*申请退款-卖家同意申请*/
.commet-answer h3{font-size: 16px;color: #097ac9;text-align: center;font-weight: 400;}
.commet-answer p{font-size: 14px;color: #808080;text-align: center;}
.commet-answer p span{font-weight: 800;display: inline-block;padding: 0 4px;font-size: 16px;}
.commet-leaveMsg-news{padding-bottom: 15px;padding-top: 15px;margin-left: 90px;}
.line-leaveMsg{background: url(images/commet-leaveMsg-news-line.png) repeat-x center;width: 100%;height: 1px;display: block;}
.commet-answer-ok-stade span{font-size: 16px;color: #61aa55;}
.commet-answer-ok-stade span img{padding-right: 10px;}
.commet-answer-ok p{padding-left: 35%;}
.commet-answer-ok-stade-gray{color: #888888;font-size: 14px;}
.commet-answer-ok-stade-money{font-size: 16px;color: #414141;}
.commet-answer-ok-stade-money span{font-weight: 800;}
.btnMoneyDetail{color: #42a8ff;display: inline-block;padding-left: 10px;text-decoration: underline;}

/*申请退款-卖家拒绝申请*/
.btn-reloadLink{color: #42a8ff;text-decoration: underline;display: inline-block;padding-left:10px;}


/*申请退款-退款关闭*/
.commet-answer-close{font-size: 16px;text-align: center;color: #414141;}
.commet-answer-close img{vertical-align: middle;padding-right: 10px;}

/*申请退款-申请平台介入*/
.state-ubsubstri{color: #808080}
.commet-answer-brow p{font-size: 14px;}
.commet-answer-brow p.commet-answer-title{font-size: 16px;}
.commet-answer-brow .btn-commet-answer{text-align: center;}
.commet-answer-brow .btn-commet-answer a{border: 1px solid #e5e5e5;padding: 10px 25px;margin: 0 10px;color: #808080;border-radius: 2px;}