/*前端-平台红包*/
.redPacket-bg{ height:1697px; background:url(images/redPacket-bg.png) center no-repeat;}
.red-content-w1082{ width:1082px; margin:0 auto; padding-top:410px;}
.red-content-top{ width:1082px; height:55px; background:url(images/red-content-top.png) center no-repeat;}
.red-content-main{ width:1082px; background:url(images/red-content-main.png) center repeat-y;}
.redpacketFly{ width:604px; height:420px; margin:-100px 0 0 -15px; background:url(images/redpacketFly-bg.png);}
.redpacketFly-money{ padding:150px 0 0 220px; color:#d9004e; font-size:70px;}
.redPacket-from{}
.redPacket-from h3,h4,h5{ text-align:center; font-weight:normal;}
.redPacket-from h3{ color:#fff; font-size:25px;}
.redPacket-from h4{ color:#fff; font-size:18px; opacity:0.5; filter:alpha(opacity:50);}
.redPacket-from h5{ color:#8a143c; font-size:15px; letter-spacing:2px;}
.checkRule input{ vertical-align:middle;}
.checkRule span{ color:#373737; font-size:20px; vertical-align:middle;}
.red-content-bottom{ width:1082px; height:55px; background:url(images/red-content-bottom.png) center no-repeat;}
.useRule{ width:1026px; margin:0 auto;}
.useRule-top{ width:1026px; height:32px; background:url(images/useRule-top.png) center no-repeat;}
.useRule-main{ width:1026px; background:url(images/useRule-main.png) center repeat-y;}
.useRule-bottom{ width:1026px; height:32px; background:url(images/useRule-bottom.png) center no-repeat;}
.useRule-main span{ color:#84002f; font-size:18px;}
.useRule-title{ width:315px; margin:0 auto;}
.title-star-box{ height:28px; line-height:28px;}
.title-star-box span.title-star{ width:20px; height:20px; margin-top:3px; background:url(images/title-star.png) no-repeat; display:inline-block;}
.useRule-title-tips{ color:#ce0707; font-size:14px; text-align:center;}
.useRule-text{ padding-left:55px;}
.useRule-text dl{ padding-bottom:45px;}
.useRule-text dl dt{ height:30px; line-height:30px;  color:#950101; font-size:14px;}
.useRule-text dl dd{ height:30px; line-height:30px; font-size:14px;}

/*前端-成功领取红包-弹窗*/
.redpacketFlyBig{ width:925px; height:950px; background:url(images/redpacketFlyBig.png) no-repeat;}
.redpacketFlyBig-money{ padding:480px 0 0 340px; color:#d9004e; font-size:118px;}
.redpacketFlyBig-from h3,h4,h5{ text-align:center; font-weight:normal;}
.redpacketFlyBig-from h3{ color:#fff; font-size:42px;}
.redpacketFlyBig-from h3 span{ vertical-align:middle;}
.view-box{ width:220px; margin:0 auto;}
.btn-yellow{font-size:26px; color:#b22555; background:#ffd01a;}
.success-pic{ width:43px; height:43px; display:inline-block; background:url(images/success-pic.png) no-repeat;}
.redpacketFlyBig-close{ width:50px; height:50px; background:url(images/redpacketFlyBig-close.png) no-repeat; position:absolute; bottom:0; right:90px;}

/*前端-楼盘红包*/
.houseredPacket-bg{ height:1697px; background:url(images/houseredPacket-bg.png) center no-repeat;}

/*前端-抵扣券*/
.deductibleredPacket-bg{height:1697px; background:url(images/deductibleredPacket-bg.png) center no-repeat;}
.deductibleredPacket-box{ width:435px; height:280px; background:url(images/deductibleredPacket-box.png) no-repeat;}
.deductiblered-money{ color:#fff5c4; font-size:44px; text-align:center;}
.deductiblered-tips{ color:#fff; font-size:14px;}
.deductiblered-condition{ width:290px; margin:0 auto;}
.deductiblered-condition ul li{ height:40px; line-height:40px; color:#fff; font-size:16px;}
.preDeposit{ color:#000; font-size:30px;}
.deductiblered dl{ padding-bottom:25px;}
.deductiblered dl dt{ font-weight:bold;}
.deductiblered dl dd{ color:#950101; font-size:14px;}

/*前端-订单提交成功*/
.orderCcontent{ width:100%;}
.orderCcontent-w1200{ width:1200px; margin:0 auto;}
.processbar-title ul li{ color:#333; font-size:14px; display:inline-block;}
.processbar{ width:1000px; margin:0 auto;}
.processbar img{ width:1000px; height:45px;}
.orderSuccess-box{ padding:50px 0; border:#e5e5e5 solid 1px;}
.orderSuccess-stade{ color:#7ab800; font-size:30px;}
.orderSuccess-pl{ padding-left:33%;}
.orderNum{ color:#333; font-size:14px;}

/*前端-支付公式*/
.formula-box{ width:228px; padding:10px; border:#fbb900 solid 1px; background:#fefae6; text-align:left; display:none; }
.formula-box dl dt{ margin-top:5px; margin-bottom:10px; color:#666; font-size:14px;}
.formula-box dl dd{ margin-bottom:15px; color:#ff4400; font-size:12px;}
.formula-box01{position:absolute; top:0; right:-260px;}
.formula-division{ border-top:#fbb900 dashed 1px;}
.payTotal-list img:hover .formula-box{ display:block;}

/*前端-提交订单*/
.infor-confirm li{ width:300px; height:30px; margin-top:15px; display:inline-block; float:left;}
.infor-confirm li.li-w250{ width:280px;}
.lab-w70{ width:70px; text-align:right; display:inline-block;}
.input-frame{ width:160px; height:30px; outline:none; border:#dcdcdc solid 1px;}
.input-frame-w144{ width:144px;}

/*前端-看房团-路线房团*/
.filter-container{height:40px; background:#f9f9f9; border:#e5e5e5 solid 1px}
.sort-box{ height:40px; line-height:40px;}
.sort-box li{ margin-right:10px; display:inline-block;}
.sort-box li a{ color:#666;}
.sort-box li span.icon-down {padding: 0 25px 0 15px; background: url(images/icon-down.png) 65px center no-repeat;}
.countdown{ height:30px; line-height:30px; color:#888; font-size:14px;}
.countdownNum{ width:25px; height:30px; text-align:center; background:#eee; display:inline-block; border-radius:3px;}
.routeBus-box li{ margin-bottom:20px; padding:20px; border:#e5e5e5 solid 1px}
.routeBus-box li h3{ color:#048be1; font-size:18px; font-weight:normal}
.routeBus-box .assembled li{ height:30px; line-height:30px; margin-bottom:0; padding:0; color:#333; font-size:14px; border:none;}
.side-box{ width:302px;}
.consultation{border:#e5e5e5 solid 1px}
.consultation{ padding:20px 0;}
.consultation-text{ color:#333; font-size:16px; text-align:center;}
.consultation-num{ padding-left:28px; color:#f7941d; font-size:24px; background:url(images/consultation-num.jpg) left no-repeat;}
.hotRegister{border:#e5e5e5 solid 1px}
.hotRegister-title{ height:49px; line-height:49px; color:#333; font-size:18px; text-align:center; border-bottom:#e5e5e5 solid 1px; background:#f9f9f9;}
.hotRegister-main{ padding:0 15px 15px 15px;}
.hotRegister-main li{ margin-top:15px;}
.hotRegister-main li span{ color:#666; font-size:14px;}
.groupbuy table,.groupbuy table td{ border:0 none;}
.groupbuy table tr.groupbuy-title{ border-bottom:#e5e5e5 solid 1px}

/*前端-看房团-楼盘房团*/
.new-areaSel{ width:auto; border-radius:0px; background:none;}
.new-areaSel dl dd a{ margin-right:10px; color:#333;}
.new-areaSel dl dd a:hover{ color:#f7941d;}
.assembled li span.locate{ padding-left:20px; background:url(images/location-pic.png) no-repeat;}

/*前端公用-lqq*/
.fz14{ font-size:14px;}
.fz30{ font-size:30px;}
.pd60{ padding-bottom:60px;}
.pt55{ padding-top:55px;}
.pt360{ padding-top:360px;}
.mt5{ margin-top:5px;}
.mr35{ margin-right:35px;}
.mr180{ margin-right:180px;}
.mr190{ margin-right:190px;}
.pt-rative{ position:relative; top:0; left:0;}