/*前端-首页*/
.webIndex-header{height: auto;background: url(images/bg-webIndex-header.jpg) no-repeat center;background-size: cover;width: 100%;min-width: 1200px;max-width: 100%;padding-bottom: 140px;}
.webIndex-header-link li:first-child a{color: #666;}
.webIndex-header-link li .sp-icon a{color: #f7941d;}
.webIndex-header-link .toggleLink{position: relative;}
.webIndex-header-link .userMsg{position: absolute;left: -35px;top: 45px;}
.webIndex-header-link-title{width: 678px;margin: 0 auto;}
.webIndex-header-link-title.mt120{margin-top: 120px;}
.searchWrap{width: 680px;margin: 0 auto;}
.searchWrap select{width: 100px;height: 50px;border: none;box-sizing: border-box;font-size: 14px;text-align: center;padding-left: 20px;}
.searchWrap input{width: 310px;height: 50px;border: none;line-height: 50px;box-sizing: border-box;padding-left: 10px;font-size: 14px;}
.searchWrap .btn-search{width: 108px;height: 50px;margin: 0;box-sizing: border-box;padding: 0;border-radius: 0;line-height: 50px;background:#f7941d;font-size: 18px;text-align: center;color: #fff;}
.searchWrap .btn-search:hover{text-decoration: none;}
.searchWrap .search-txt{border-radius: 5px;overflow: hidden;}
.searchMap{width: 140px;}
.searchMap a{display: inline-block;width: 100%;height: 50px;line-height: 50px;background: #ff5837;color: #FFF;font-size: 18PX;text-align: center;text-decoration: none;border-radius: 5px;}
.searchMap a img{margin-right: 5px;vertical-align: middle;}
.searchWrap.mt70{margin-top: 70px;}
.areaSel{border-radius: 5px;width: 680px;margin: 0 auto;background: rgba(0,0,0,.8);padding: 15px 0;}
.areaSel.mt10{margin-top: 10px;}
.areaSel dl dt,.areaSel dl dd{float: left;color: #fff;padding-left: 10px;}
.areaSel dl{}
.areaSel dl dt{color: #999;}
.areaSel dl dd a{color: #fff;}
.adLink{width: 100%;}
.adLink ul li a{display: inline-block;}
.adLink ul li{float: left;display: inline-block;width: 25%;text-align: center;}
.adLink ul li img{display: block;width: 126px;height: 126px;}
.adLink ul li span{display: block;text-align: center;}
.adLink .adLink-title{font-size: 24px;color: #333;padding-top: 10px;}
.adLink .adLink-txt{font-size: 14px;color: #333;}
.hotHouse-ad{background: #eeebe4;margin-top: 75px;min-width: 1200px;}
.hotHouse-ad .hotHouse-head{font-size: 24px;font-weight: 400;}
.hotHouse-ad-area ul{margin-left: 20px;margin-top: 15px;}
.hotHouse-ad-area ul li{float: left;margin-right: 20px;}
.hotHouse-ad-area ul li a{color: #333;}
.hotHouse-ad .hotHouse-ad-content{padding-top: 50px;padding-bottom: 80px;}
.hotHouse-ad-content .hotHouse-more{color: #333;margin-top: 15px;font-size: 16px;font-weight: 400;}
.hotHouse-imgBig{width: 450px; height: 325px;background: url(images/hotHouse01.jpg) no-repeat center;position: relative;}
.hotHouse-imgBig .hotHouse-imgBig-ad{width: 226px;height: 110px;position: absolute;left: 50%;top: 50%;margin-left: -113px;margin-top: -55px;background: rgba(255,255,255,.8);text-align: center;}
.hotHouse-imgBig-ad span{display: block;text-align: center;}
.hotHouse-imgBig-ad .imgBig-title{font-size: 18px;margin-top: 20px;}
.hotHouse-imgBig-ad .imgBig-ad{font-size: 24px;font-weight: 800;}
.imgBig-hr{width: 60%;margin: 0 auto;background: url(images/line-hr.png) repeat-x left center;}
.hotHouse-imgBig a{display: block;color: #333}
.imgBig-hr.mt5{margin-top: 5px;}
.hotHouse-imgSmall{width: 62%;}
.hotHouse-imgSmall ul li{width: 241px;height: 159px;float: left;background: url(images/hotHouse02.jpg) no-repeat center;position: relative;margin-left: 5px;box-sizing: border-box;margin-bottom: 7px;}
.hotHouse-imgSmall ul li .hotHouse-imgSmall-ad{padding: 8px 15px;background: rgba(0,0,0,.7);position: absolute;bottom: 0px;left: 0px;box-sizing: border-box;width: 100%;}
.imgSmall-adTxt{display: block;}
.imgSmall-adTxt span{display: block;color: #fff;font-size: 14px;}
.appDownShow-btn span.appDownShow-title{display: block;width: 462px;background: url(images/bg-txtHr.png) no-repeat left center;height: 30px;line-height: 30px;text-align: center;font-size: 18px;margin: 0 auto;margin-top: 35px;}
.appDownShow-btn span.appDownShow-ad{font-size: 30px;width: 500px;text-align: center;display: block;margin: 0 auto;margin-top: 35px;}
.downLink a{display: block;background: #aca89b;border-radius: 5px;padding: 10px 20px;width: 240px;box-sizing: border-box;color: #fff;font-size: 18px;}
.downLink a img{vertical-align: middle;margin-right: 10px;}
.appDownShow-btn{width: 55%;}
.appDownShow-link{margin: 0 auto;margin-top: 30px;}
.appDownWrap {padding-top: 60px;}
.appDownWrap .appDownShow-img{width: 45%;}
.appDownShow-link .downLink {margin-left: 90px;}
.appDownShow-link .downLink a{margin-bottom: 20px;}
.appDownShow-link .downErw {margin-left: 30px;}
.newHouse-ad .hotHouse-imgSmall{width: 100%;}
.newHouse-ad .hotHouse-imgSmall ul li{width: 285px;height: 190px;background: url(images/newHouse01.png) no-repeat center;}
.newHouse-ad .hotHouse-imgSmall ul li.first{margin-left: 0;}
.newHouse-ad .hotHouse-imgSmall ul li{margin-left: 20px;}
.newHouse-ad .imgSmall-money{width: 100%;display: block;position: absolute;left: 0px;bottom: -40px;box-sizing: border-box;padding:10px 2px;font-size: 14px;color: #666;}
.newHouse-ad .imgSmall-money .red{font-size: 18px;}
.newHouse-ad .imgSmall-money .imgSmall-money-area{margin-top: 5px;}
.newHouse-ad{background: #f9f9f9;margin-top: 0;}
.adWanLink .adLink ul li{width: 33%;}
/*背景透明，文字不透明*/
@media \0screen\,screen\9 {/* 只支持IE6、7、8 */
  .hotHouse-imgSmall-ad,.areaSel{
    background-color:#000000;
    filter:Alpha(opacity=80);
    position:static; /* IE6、7、8只能设置position:static(默认属性) ，否则会导致子元素继承Alpha值 */
    *zoom:1; /* 激活IE6、7的haslayout属性，让它读懂Alpha */
  }
  .hotHouse-imgBig-ad{
  	background-color:#fff;
    filter:Alpha(opacity=80);
    position:static; /* IE6、7、8只能设置position:static(默认属性) ，否则会导致子元素继承Alpha值 */
    *zoom:1; /* 激活IE6、7的haslayout属性，让它读懂Alpha */
  }
  .hotHouse-imgSmall-ad span,.hotHouse-imgBig-ad span,.areaSel dl{
    position: relative;/* 设置子元素为相对定位，可让子元素不继承Alpha值 */
  }  
}

/*前端-支付*/
.payDetail h3{font-size: 14px;color: #333;height: 20px;}
.payDetail h3 span{display: inline-block;font-weight: 400;}
.payDetail h3 span img{vertical-align: bottom;margin-right: 10px;margin-top: -8px;cursor: pointer;}
.payDetail h3 .company-txt{margin-right: 40px;}
.payDetail h3 .company-txt03 img{margin-left: 10px;margin-right: 0;}
.msgConfirm-table .msgConfirm-title{background: #f5f8fa;text-align: left;}
.msgConfirm-table .msgConfirm-title th{font-size: 14px;color: #333;padding: 5px 10px;}
.msgConfirm-table .msgConfirm-detail td{text-align: left;padding:20px 10px 20px 50px;}
.msgConfirm-table .msgConfirm-detail td .detai-txt{display: inline-block;margin-right: 30px;color: #333}
.payTotal .payTotal-list{display: block;text-align: right;font-size: 14px;line-height: 20px;color: #666;}
.payTotal .pay-help{vertical-align: middle;margin-left: 5px;}
.payMethod-table thead tr{text-align: left;}
.payMethod-table thead tr th{background: #f5f8fa;color: #333;font-size: 14px;padding: 5px 10px;}
.payMethod-table tbody tr td{text-align: left;padding: 10px 10px;border: none;}
.payMethod-table tbody tr.first td{background: url(images/commet-leaveMsg-news-line.png) repeat-x left bottom;}
.payMtthos{display: inline-block;margin-left: 20px;}
.payMtthos a{display: inline-block;color: #333;background: url(images/payM-border.png) no-repeat;width: 154px;height: 50px;text-align: center;vertical-align: middle;line-height: 50px;}
.payMtthos a:hover{text-decoration: none;background: url(images/payM-border-hover.png) no-repeat;}
.payMtthos.active a{text-decoration: none;background: url(images/payM-border-hover.png) no-repeat;}
.payMtthos a img{margin-right: 10px;}
.btn-ok-submit{padding: 10px 40px;background: #f84444;color: #fff;font-size: 14px;display: inline-block;}
.payTips{padding: 0px 10px 10px 10px;border: 1px solid #fbb900;background: #fefae6;}
.payTips p{height: 30px;line-height: 30px;font-size: 14px;padding-top: 10px;}

/*前端支付-支付成功*/
.paySuccess{border: 1px solid #e5e5e5;width: 100%;min-height: 500px;}
.paySuccess .paySuccess-txt{display: block;padding-left: 400px;vertical-align: middle;font-size: 14px;color: #333;margin-top: 20px;}
.paySuccess .paySuccess-txt.mt40{margin-top: 40px}
.paySuccess .paySuccess-txt02,.paySuccess .paySuccess-txt03{padding-left: 480px;}
.paySuccess .paySuccess-txt .paySuccess-txt-m{display: inline-block;margin-right: 40px;}
.paySuccess .paySuccess-txt img{vertical-align: middle;margin-right: 20px;}
.paySuccess .paySuccess-txt03 a{display: inline-block;padding: 5px 20px;}
.btn-border{background: #fff;border:1px solid #e5e5e5;color: #000;border-radius: 4px;}

/*前端-楼盘首页*/
.webBanner{min-width: 1200px;}
.webBanner img{width: 100%;}
.webHead ul{width: 1200px;margin: 0 auto;}
.webHead ul li{float: left;}
.webHead ul li a{display: inline-block;padding: 10px 25px;font-size: 16px;}
.webAd-show .tempWrap ul li .pic{display: block;width:420px;height: 280px; }
.webAd-show .tempWrap ul li .pic img{width: 100%;height: 100%;}
.webAd-show .hd ul li{float: left;display: inline-block;width: 90px;height: 60px;margin-left: 10px;}
.webAd-show .hd ul li img{width: 100%;height: 100%;}
.webAd-title a{font-size: 14px;color: #000;height: 20px;line-height: 20px;white-space: nowrap;text-overflow: ellipsis;display: inline-block;width: 400px;overflow: hidden;}
.webAd-title a img{margin-right: 5px;vertical-align: middle;}
.webAd-tips{border: 1px solid #fbb900;padding: 10px 10px 30px;position: relative;background: #fefae8;}
.webAd-tips .titleTips{position: absolute;background: url(images/bg-tips01.png) no-repeat;width:139px;height: 47px;top: 0px;left: 20px;line-height: 47px;text-align: center;font-size: 16px;color: #75441d;}
.webAd-tipsWrap{margin-top: 50px;}
.webAd-tipsWrap .titleTips-msg{color: #807f7c;font-size: 14px;min-width: 200px;display: inline-block;margin-top: 10px;padding-left: 10px;}
.webAd-tipsWrap .titleTips-msg span{color: #000;}
.webSaleMsg .slideTxtBox-head ul{border-bottom: 2px solid #e5e5e5;padding-bottom: 8px;min-width: 500px;}
.webSaleMsg .slideTxtBox-head ul li{float: left;}
.webSaleMsg .slideTxtBox-head ul li a{padding: 10px 35px;font-size: 16px;color: #666666;}
.webSaleMsg .slideTxtBox-head ul li a:hover,.webSaleMsg .hd ul li.active a{color: #f9b474;border-bottom: 2px solid #f9b474;text-decoration: none;}
.webSaleMsg .slideTxtBox-head .arrow .next{font-size: 20px;color: #000;text-decoration: none;}
.webSaleMsg .slideTxtBox-head{position: relative;}
.webSaleMsg .slideTxtBox-head .arrow{position: absolute;right: 0px;top: -5px;}
.personHouse-msgMoney .personHouse-msgMoney01 li{font-size: 14px;float: left;margin-right: 15px;padding-left: 20px;}
.tool-trend{display: inline-block;width: 23px;height: 20px;line-height: 20px;float: left; background: url(images/icon-person-tool.png) no-repeat;background-position: 3px 0px;}
.toolWrap .tool-title{display: inline-block;min-width: 85px;height: 23px;line-height: 23px;float: left;color: #999}
.toolWrap{display: inline-block;}
.tool-loan{display: inline-block;width: 23px;height: 20px;line-height: 20px;float: left; background: url(images/icon-person-tool.png) no-repeat;background-position: -20px 0px;}
.tool-reduce{display: inline-block;width: 23px;height: 20px;line-height: 20px;float: left; background: url(images/icon-person-tool.png) no-repeat;background-position: -40px 0px;}
.personHouse-tool{display: inline-block;height: 30px;}
.personHouse-msgMoney .personHouse-msgMoney01 .personHouse-sel select{width: 70px;}
.personHouse-msgMoney01 .personHouse-title{display: inline-block;min-width: 75px;text-align: right;}
.personHouse-msgMoney01 .personHouse-number,.personHouse-msgMoney01 .personHouse-sel{display: inline-block;min-width: 95px;}
.personHouse-msgMoney .personHouse-msgMoney01 .personHouse-sel-o select{width: 270px;}
.personHouse-msgMoney .personHouse-msgMoney01 .personHouse-link{margin: 5px 0 0;}
.area-houseLink img{vertical-align: middle;margin-right: 5px;}
.btn-houseOrder{margin-left: 30px;}
.btn-houseOrder a{margin-right: 20px;font-size: 24px;}
.houseOrder-money{font-size: 20px;}
.icon-stars{display: inline-block;width: 30px;height: 30px;background: url(images/icon-payTips.png) no-repeat;background-position: -7px 3px;}
.icon-link{display: inline-block;width: 30px;height: 30px;background:url(images/icon-payTips.png) no-repeat;background-position: -35px 3px}
.payTipsWrap .payTips-title{height: 30px;line-height: 30px;font-size: 12px;display: inline-block;}
.payTips-rel .icon-pay{display: inline-block;width: 20px;height: 20px;cursor: pointer;}
.payTips-rel .icon-pay01{background:url(images/icon-payTips.png) no-repeat;background-position: -73px -4px}
.payTips-rel .icon-pay02{background:url(images/icon-payTips.png) no-repeat;background-position: -108px -4px}
.payTips-rel .icon-pay03{background:url(images/icon-payTips.png) no-repeat;background-position: -142px -4px}
.payTips-rel .icon-pay04{background:url(images/icon-payTips.png) no-repeat;background-position: -176px -4px}
.payTips-rel{display: inline-block;margin-right: 40px;}
.payAllWrap .icon-pay{margin-left: 10px;margin-top: 5px;cursor: pointer;}
.houseManMsg h3{padding-left: 20px;font-size: 16px;}
.picMarquee .hd .next{display: inline-block;width: 24px;height: 170px;background: url(images/icon-picList.png) no-repeat center;background-position: -24px 60px;position: absolute;right: 8px;top: 0px;z-index: 1000}
.picMarquee .hd .prev{display: inline-block;width: 24px;height: 170px;background: url(images/icon-picList.png) no-repeat center;background-position: 0px 60px;position: absolute;left: 30px;top: 0px;z-index: 1000}
.picMarquee .picList li .pic{width: 135px;height: 120px;border: 1px solid #e5e5e5;text-align: center;vertical-align: middle;padding-top: 20px;}
.picMarquee .picList li{float: left;margin-left: 10px;}
.picMarquee .picList li .title{padding: 5px;text-align: center;}
.picMarquee .picList li .title a{color: #999;}
.picMarquee .picList{margin-left: 20px;}
.picMarquee{position: relative;}
.webSaleMsg{width: 615px;}
.payTipsWrap{height: 55px;}
.picMarquee .bd{overflow: hidden;margin-left: 20px;}
.houseMsg .houseMsg-title{font-size: 16px;background: #d2d2d2;padding: 5px 35px;}
.houseNiceList-list{margin-top: 9px;}
.houseNiceList-list .houseNiceList-img{width: 140px;height: 105px;overflow: hidden;}
.houseNiceList-list .houseNiceList-img img{width: 100%;height: 100%;}
.houseNiceList-list .houseNiceList-txt{border: 1px solid #e5e5e5;padding:0 10px 5px;}
.houseNiceList-list .houseNiceList-txt p{padding-top: 0px;font-weight: 800;color: #333}
.dynamisMsg{width: 235px;}
.dynamisMsg .dynamisMsg-title{font-size: 16px;color: #333;}
.dynamisMsg .dynamisMsg-head{background: #d2d2d2;padding: 10px;}
.dynamisMsg .dynamisMsg-head .link-more{font-size: 14px;display: inline-block;margin-top: 5px;color: #666;}
.dynamisMsg-content{border:1px solid #d2d2d2;border-top: none;padding: 0px 10px 25px}
.dynamisMsg-content ul li a{display: block;padding-top: 20px;color: #666;font-size: 14px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;max-width: 170px;}
.quoteMsg{width: 955px;border: 1px solid #cad9ec;}
.quoteMsg-title{padding: 10px;margin: 1px;background: #e4eef9;border-bottom: 1px solid #cad9ec;}
.quoteMsg-title ul li{float: left;font-size: 16px;min-width: 250px;color: #000;}
.quoteMsg-title ul li.f-w{font-weight: 800;}
.quoteMsg-title ul li.blue{color: #4491dc;}
.quoteMsg-title ul li img{margin-left: 10px;vertical-align: middle;}
.quoteMsg-title-ngBg{background: #fff;}
.quoteMsg-table table tr td.first-child{padding-left: 10px;}
.quoteMsg-table table tr td.third-child{min-width: 100px;}
.quoteMsg-table table tr td{color: #666;min-width: 195px;text-align: left;border-top: none;padding: 6px 0;}
.quoteMsg-table table tr td.four-child a{width: 90px;padding: 6px 0px;text-align: center;margin-left: 20px;}
.quoteMsg-table table tr{background: url(images/dot-line.png) repeat-x left bottom;}
.quoteMsg-table table{border:none;}
.quoteMsg-table{margin: 0 10px 18px;height: 294px;overflow-y: auto;}
.activityMsgList{border: 1px solid #e5e5e5;padding: 20px;background: #f9f9f9;padding-top: 0px;}
.activityMsgList-list .houseNiceList-img{width: 191PX;height: 135px;border: 1px solid #e5e5e5;border-bottom: none;}
.activityMsgList-list .houseNiceList-txt{background: #fff;}
.btnlink a{font-size: 14px;color: #888;}
.btnlink{text-align: center;}
.activityMsg-showImg{width: 235px;}
.activityMsg-detail{}
.activityMsg-time{width: 925px;border:1px solid #e5e5e5;padding: 20px 10px;margin-left: 10px}
.activityMsg-time .activityMsg-time-title{text-align: center;}
.activityMsg-item{padding: 10px;background: url(images/line-hr.png) repeat-x left bottom;font-size: 16px;}
.activityMsg-item .ietm-title{padding-left: 20px;min-width: 480px;display: inline-block;}
.activityMsg-item .ietm-title .red{color: #ff4e00;font-weight: 800;}
.activityMsg-item .ietm-title .gray{color: #707070;}
.progress{display: inline-block;width: 235px;overflow:hidden;height: 20px;position: relative;}
.progress-bar{width: 100%;background: url(images/bg-progress.png) no-repeat center;display: inline-block;height: 20px;}
.sr-only{width: 50%;display: inline-block;background: url(images/bg-progressBar.png) repeat-x left center;height: 20px;}
.iten-link{display: inline-block;height: 25px;line-height: 25px;color: #ff0000;text-decoration: underline;margin-left: 20px;font-weight: 800;}
.progress-number{position: relative;top: -23px;left: 35%;color: #fff;}
.time-detail{display: inline-block;height: 25px;line-height: 25px;}
.time-detail .time-detail-item{background: #707070;border-radius: 2px;color: #fff;padding: 2px 5px;margin-right: 2px;font-size: 22px;}
.time-detail .time-detail-s{display: inline-block;font-size: 14px;margin-right: 10px;}
.item-detail-msg{display: inline-block;margin-left: 20px;color: #707070}
.iten-link.orange{color: #f7941d;}
.iten-link.green{color: #93c33a;}
.areaAgency-tab {border-bottom: 2px solid #f7941d;}
.areaAgency-tab li {float: left;}
.slideTxtBoxHouse{margin-left: 10px;}
.slideTxtBoxHouse .areaAgency-tab li a {display: inline-block;padding: 10px 42px;color: #000;font-size: 18px;position: relative;}
.areaAgency-tab li a:hover, .areaAgency-tab li.active a {background: #f7941d;color: #fff;text-decoration: none;}
.sanjiao{display: inline-block;width: 14px;height: 8px;background: url(images/tab-sanjiao.png) no-repeat center;}
.slideTxtBoxHouse .areaAgency-tab li a .sanjiao{position: absolute;left: 64px;bottom: -10px;display: none;}
.areaAgency-tab li a:hover .sanjiao, .areaAgency-tab li.active a .sanjiao{display: block;}
.slideTxtBoxHouse .areaAgency-tab{background: #f9f9f9;}
.tab-rowLine{display: inline-block;width: 1px;height: 48px;background: url(images/tab-rowLine.png) no-repeat center;}
.slideTxtBoxHouse-detail table tbody tr td{border:1px solid #f7941d;}
.slideTxtBoxHouse-detail table tbody tr td:nth-child(odd){background: #fffcf2;}
.slideTxtBoxHouse-detail table tbody tr td:nth-child(even),.slideTxtBoxHouse-detail table tbody tr td.even{text-align: left;padding-left: 20px;background: #fff}
.title .title-tips{background: #c40000;padding: 5px 10px;color: #fff;position: relative;}
.title .title-tips .title-tips-san{background: url(images/tips-sanjiao-left.png) no-repeat left center;position: absolute;left: -7px;top:18%;display: inline-block;width: 7px;height: 20px;}
.slideTxtBoxHouse-detail .title .title-tips{margin-left: 20px;}
.bet-tips{padding: 5px 10px;border: 1px solid #e5e5e5;background: #fff;color: #666}
.title .bet-tips{margin-right: 10px;}
.btnlink.text-right{text-align: right;}
.typeSel ul{float: right;}
.typeSel ul li{float: left;display: inline-block;}
.typeSel ul li a{color: #666}
.typeSel ul li a:hover,.typeSel ul li.active a{color: #f7941d;text-decoration: none;}
.typeSel ul span.sep{display: inline-block;margin: 0 5px;}
.houseTypeWrap ul li{float: left;}
.houseTypeImg{margin: 5px;}
.houseTypeImg-inner{width: 210px;height: 220px;display: table-cell;text-align: center;vertical-align: middle;}
.houseTypeTxt{background: #f9f9f9;padding: 10px 5px;font-size: 14px;border-top: 1px solid #e5e5e5;}
.houseTypeTxt p.first{color: #000;padding-bottom: 5px;}
.houseTypeTxt p.second{color: #666;}
.houseTypeTxt p .houseTypeTxt-title{display: inline-block;min-width: 80px;text-align: right;padding-right: 5px;}
.houseTypeTips{display: inline-block;color: #fff;padding: 0px 3px;margin-left: 20px;}
.houseTypetipOrange{background: #ff6600;}
.houseTypetipPurple{background: #b40098;}
.houseTypetipok{background: #999}
.houseTypeWrap .houseTypeList{margin:10px 0 0 15px;border: 1px solid #e5e5e5;}
.houseTypeWrap{max-width: 950px;}
.houseTypeImgOk{background: #fbf7d4;}
.houseImgs{border: 1px solid #e5e5e5;padding: 35px 20px 60px 50px;background: #f6f6f6;}
.houseImgs .title{font-size: 18px;color: #333;font-weight: 400}
.houseImgs-inner .bd{width: 650px;height: 470px;position: relative;}
.webAd-show.houseImgs-inner .tempWrap ul li .pic{width: 650px;height: 470px;}
.webAd-show .hd ul.houseImgs-small li{float: none;display: block;}
.webAd-show.houseImgs-inner .hd ul li{width: 154px;height: 108px;margin-bottom: 12px}
.houseImgs-inner .arrow .next{position: absolute;right: -45px;top: 205px;background: url(images/next-house.png) no-repeat center;width: 30px;height: 58px;}
.houseImgs-inner .arrow .prev{position: absolute;left: -45px;top: 205px;background: url(images/prev-house.png) no-repeat center;width: 30px;height: 58px;}
.webAd-show.houseImgs-inner .hd{margin-left: 50px;position: relative;}
.webAd-show.houseImgs-inner .hd .next-small{position: absolute;bottom: -25px;left: 10px;background: #e4dfea;width: 154px;height: 30px;text-align: center;display: table-cell;vertical-align: middle;}
.webAd-show.houseImgs-inner .hd .prev-small{position: absolute;top: -35px;left: 10px;background: #e4dfea;width: 154px;height: 30px;text-align: center;display: table-cell;vertical-align: middle;}
.webAd-show.houseImgs-inner .hd .prev-small img{margin-top: 10px;}
.webAd-show.houseImgs-inner .hd .next-small img{margin-top: 10px;}