/**********zpsy********/
.zpsy {
	font-family:"microsoft yahei";
	font-size:12px;
	color:#333;
	}
/**********zpsy_nav********/
.zpsy_nav {
	background:#ff702d;
	height:34px;
	line-height:34px;
	margin-top:4px;
	}
.zpsy_nav_w1002 {
	background:#ff702d;
	width:1002px;
	height:34px;
	line-height:34px;
	margin:0 auto;
	}
.zpsy_nav_l {
	background:#333;
	width:180px;
	height:38px;
	line-height:38px;
	margin-top:-4px;
	float:left;
	display:inline-block;
	position:relative;
	top:0px;
	left:0px;
	z-index:999;
	}
.zpsy_nav_lh {
	width:180px;
	height:38px;
	line-height:38px;
	font-size:15px;
	color:#fff;
	text-align:center;
	}
/**********zpsy_nav_lc********/
.zpsy_nav_lc {
	width:180px;
	position:absolute;
	top:px;
	left:0px;
	}
.zpsy_nav_lc ul {
	background:url(http://image.lxhrainynet.com/images/zp/index/zpsy_nav.png) repeat;
	}
.zpsy_nav_lc ul li {
	height:25px;
	line-height:25px;
	position:relative;
	top:0px;
	left:0px;
	*overflow:hidden;
	}
.zpsy_nav_lc ul li:hover {
	*overflow:visible;
	}
.zpsy_nav_lc ul li.li_h {
	background:url(http://image.lxhrainynet.com/images/zp/index/zpsy_nav.png) repeat;
	}
.zpsy_nav_lc ul li span {
	background:url(http://image.lxhrainynet.com/images/zp/index/zpsy_nav_jt.png) no-repeat right top;
	width:180px;
	display:inline-block;
	}
.zpsy_nav_lc ul li span:hover {
	background:url(http://image.lxhrainynet.com/images/zp/index/zpsy_nav_jt.png) no-repeat bottom right;
	}
.zpsy_nav_lc ul li a {
	width:168px;
	padding-left:12px;
	color:#333333;
	display:inline-block;
	}
.zpsy_nav_lc ul.ul_w200 {
	width:200px;
	}
.zpsy_nav_lc ul.ul_w200 a {
	width:188px;
	}
.zpsy_nav_lc ul.ul_w210 {
	width:210px;
	}
.zpsy_nav_lc ul.ul_w210 a {
	width:198px;
	}
.zpsy_nav_lc ul li a:hover {
	text-decoration:underline;
	}
.zpsy_nav_lc ul li:hover {
	background:#ff702d;
	}
.zpsy_nav_lc ul li:hover a,.zpsy_nav_lc ul li:hover span {
	color:#fff;
	}
.zpsy_nav_lc ul li ul {
	width:180px;
	position:absolute;
	top:0px;
	left:180px;
	display:none;
	}
.zpsy_nav_lc ul li ul li {
	background:#f7f7f7;
	}
.zpsy_nav_lc ul li ul li:hover {
	background:#ff702d;
	}
.zpsy_nav_lc ul li:hover ul {
	display:block;
	}
.zpsy_nav_lc ul li:hover ul li ul {
	display:none;
	}
.zpsy_nav_lc ul li:hover ul li ul li ul {
	display:none;
	}
.zpsy_nav_lc ul li:hover ul li ul li ul li ul {
	display:none;
	}
.zpsy_nav_lc ul li ul li:hover ul {
	display:block;
	}
.zpsy_nav_lc ul li ul li:hover ul li ul {
	display:none;
	}
.zpsy_nav_lc ul li ul li:hover ul li ul li ul {
	display:none;
	}
.zpsy_nav_lc ul li ul li ul li:hover ul li ul {
	display:none;
	}
.zpsy_nav_lc ul li ul li ul li:hover ul {
	display:block;
	}
.zpsy_nav_lc ul li ul li ul li ul li:hover ul {
	display:block;
	}
.zpsy_nav_lc ul li:hover ul li a {
	color:#333;
	}
.zpsy_nav_lc ul li ul li:hover a {
	color:#fff;
	}
.zpsy_nav_lc ul li ul li:hover ul li a {
	color:#333;
	}
.zpsy_nav_lc ul li ul li ul li:hover a {
	color:#fff;
	}
.zpsy_nav_lc ul li ul li ul li:hover ul li a {
	color:#333;
	}
.zpsy_nav_lc ul li ul li ul li ul li:hover a {
	color:#fff;
	}
.zpsy_nav_lc ul li ul li ul li ul li:hover ul li a {
	color:#333;
	}
.zpsy_nav_lc ul li ul li ul li ul li ul li:hover a {
	color:#fff;
	}
/**********zpsy_nav_lc eng********/
.zpsy_nav_r {
	width:822px;
	height:34px;
	line-height:34px;
	float:left;
	display:inline-block;
	}
.zpsy_nav_r ul {
	padding-left:12px;
	}
.zpsy_nav_r li {
	float:left;
	display:inline-block;
	}
.zpsy_nav_r li a {
	width:80px;
	font-size:18px;
	font-weight:bold;
	color:#fff;
	text-align:center;
	display:inline-block;
	}
.zpsy_nav_r li a:hover {
	background:#ff591f;
	}
/**********zpsy_nav end********/	
/**********zpsy_slider********/
.zpsy_slider {
	height:330px;
	position:relative;
	}
.zpsy_slider_list {
	width:100%;
	height:330px;
	overflow:hidden;
	}
.zpsy_slider_list div {
	width:100%;
	height:330px;
	}
.zpsy_slider_list div a {
	width:1002px;
	height:330px;
	margin:0 auto;
	display:block;
	}
.zpsy_slider_dot {
	width:100%;
	text-align:center;
	position:absolute;
	top:300px;
	left:0;
	}
.zpsy_slider_dot a {
	background:url(http://image.lxhrainynet.com/images/zp/index/slider_dot.png) no-repeat center left;
	width:16px;
	height:16px;
	margin:0 2px;
	*margin:0 5px;
	display:inline-block;
	}
.zpsy_slider_dot a:hover,.zpsy_slider_dot a.a_h {
	background:url(http://image.lxhrainynet.com/images/zp/index/slider_dot.png) no-repeat center right;
	}
/**********zpsy_slider end********/	
/**********zpsy_wrap********/
.zpsy_wrap {
	width:1002px;
	height:0px;
	margin:0 auto;
	position:relative;
	top:0;
	left:0;
	}
.zpsy_wrap_bok {
	background:#fff;
	width:280px;
	height:300px;
	border:2px solid #eee;
	position:absolute;
	top:-318px;
	right:0px;
	}
.zpsy_wrap_h {
	height:38px;
	line-height:38px;
	}
.zpsy_wrap_h li {
	width:140px;
	height:38px;
	line-height:38px;
	float:left;
	display:inline-block;
	}
.zpsy_wrap_h li a {
	background:#eee;
	width:140px;
	height:36px;
	line-height:36px;
	padding-top:2px;
	display:inline-block;
	font-weight:bold;
	font-size:14px;
	color:#666;
	text-align:center;
	}
.zpsy_wrap_h li a:hover,.zpsy_wrap_h li a.a_h {
	background:#fff;
	padding-top:0px;
	border-top:2px solid #ff702d;
	color:#ff702d;
	}
/**********zpsy_wrap_c********/	
.zpsy_wrap_c {
	padding:10px 0 0 0;
	}
.zpsy_wrap_c div.d_d {
	padding:7px 23px;
	height:34px;
	line-height:34px;
	position:relative;
	top:0px;
	left:0px;
	}
.zpsy_wrap_ct {
	background:url(http://image.lxhrainynet.com/images/zp/index/wrap.png) no-repeat;
	background-position:0px 0px;
	width:auto;
	height:18px;
	line-height:18px;
	padding:0 3px 8px 3px;
	color:#fff;
	position:absolute;
	top:-13px;
	left:24px;
	}
.zpsy_wrap_c span.sp_sc {
	position:absolute;
	top:16px;
	right:30px;
	}
.zpsy_wrap_c span.sp_sc a {
	background:url(http://image.lxhrainynet.com/images/zp/index/wrap.png) no-repeat;
	background-position:-86px -39px;
	width:16px;
	height:16px;
	line-height:16px;
	display:inline-block;
	}
.zpsy_wrap_c span.sp_sc a:hover {
	background-position:-52px -39px;
	}
.zpsy_wrap_c span.sp_cw {
	background:url(http://image.lxhrainynet.com/images/zp/index/wrap.png) no-repeat;
	background-position:-52px -39px;
	width:16px;
	height:16px;
	line-height:16px;
	display:inline-block;
	position:absolute;
	top:18px;
	left:104px;
	}
.zpsy_wrap_c span.sp_zq {
	background:url(http://image.lxhrainynet.com/images/zp/index/wrap.png) no-repeat;
	background-position:-16px -39px;
	width:16px;
	height:16px;
	line-height:16px;
	display:inline-block;
	position:absolute;
	top:18px;
	left:104px;
	}
.zpsy_wrap_c div.d_d input[type=text] {
	width:205px;
	height:32px;
	line-height:32px;
	padding:0 23px 0 4px;
	border:1px solid #ccc;
	outline:none;
	font-size:14px;
	color:#999;
	}
.zpsy_wrap_c div.d_d input[type=text].in_w82 {
	width:72px;
	padding-right:26px;
	vertical-align:middle;
	margin-right:4px;
	}
.zpsy_wrap_c div.d_d input[type=button] {
	background:#ff702d;
	width:234px;
	height:34px;
	line-height:34px;
	border:none;
	outline:none;
	font-size:14px;
	color:#fff;
	cursor:pointer;
	}
.zpsy_wrap_c div.d_d input[type=button]:hover {
	background:#ff591f;
	}
.zpsy_wrap_c div.d_yzm {
	}
.zpsy_wrap_c div.d_yzm a {
	margin:0 0 0 4px;
	color:#096cb2;
	}
.zpsy_wrap_c div.d_yzm a:hover {
	text-decoration:underline;
	}
.zpsy_wrap_c div.d_yzm img {
	vertical-align:middle;
	cursor:pointer;
	}
.zpsy_wrap_c div.d_h20 {
	height:16px;
	line-height:16px;
	padding-bottom:4px;
	}
.zpsy_wrap_c div.d_h20 span {
	float:right;
	display:inline-block;
	}
.zpsy_wrap_c div.d_h20 a {
	color:#666;
	}
.zpsy_wrap_c div.d_h20 a:hover {
	text-decoration:underline;
	}
.zpsy_wrap_c div.d_h20_1 {
	height:20px;
	line-height:20px;
	padding:3px 23px;
	color:#666;
	}
.zpsy_wrap_c div.d_h20_1 span {
	background:url(http://image.lxhrainynet.com/images/zp/index/wrap.png) no-repeat -16px -72px;
	width:20px;
	height:20px;
	margin-right:6px;
	display:inline-block;
	vertical-align:middle;
	cursor:pointer;
	}
/**********zpsy_wrap_c end********/	
/**********zpsy_wrap_c1********/	
.zpsy_wrap_c1 {
	}
.zpsy_wrap_c1t {
	height:72px;
	padding:18px 12px 18px 24px;
	}
.zpsy_wrap_c1t .div_l {
	width:72px;
	height:72px;
	float:left;
	display:inline-block;
	}
.zpsy_wrap_c1t .div_l a {
	width:72px;
	height:72px;
	display:inline-block;
	}
.zpsy_wrap_c1t .div_r {
	width:160px;
	padding:0 0 0 12px;
	float:left;
	display:inline-block;
	}
.zpsy_wrap_c1t .div_r p {
	height:18px;
	line-height:18px;
	}
.zpsy_wrap_c1t .div_r p.p_p1 {
	height:30px;
	line-height:30px;
	}
.zpsy_wrap_c1t .div_r a.a_1 {
	font-size:13px;
	color:#666;
	}
.zpsy_wrap_c1t .div_r a.a_2 {
	color:#096cb2;
	}
.zpsy_wrap_c1t .div_r a.a_2:hover {
	text-decoration:underline;
	}
.zpsy_wrap_c1t .div_r a.a_3 {
	margin:0 3px;
	color:#ff702d;
	}
.zpsy_wrap_c1t .div_r a.a_3:hover {
	text-decoration:underline;
	}
.zpsy_wrap_c1c {
	background:#f1f1f1;
	height:62px;
	line-height:62px;
	padding:5px 0;
	}
.zpsy_wrap_c1c a {
	height:62px;
	line-height:62px;
	color:#333;
	text-align:center;
	float:left;
	display:inline-block;
	}
.zpsy_wrap_c1c dl {
	width:92px;
	}
.zpsy_wrap_c1c dt {
	height:40px;
	line-height:40px;
	}
.zpsy_wrap_c1c dd {
	height:16px;
	line-height:16px;
	}
.zpsy_wrap_c1c dl.dl_1 {
	border-right:1px solid #ccc;
	}
.zpsy_wrap_c1c dl.dl_2 {
	border-left:1px solid #fff;
	border-right:1px solid #ccc;
	}
.zpsy_wrap_c1c dl.dl_3 {
	border-left:1px solid #fff;
	}
.zpsy_wrap_c1c dl.dl_4 {
	border-left:1px solid #fff;
	}
.zpsy_wrap_c1c dl.dl_1 dt {
	background:url(http://image.lxhrainynet.com/images/zp/index/zpsy_ico_yl.png) no-repeat center;
	}
.zpsy_wrap_c1c dl.dl_2 dt {
	background:url(http://image.lxhrainynet.com/images/zp/index/zpsy_ico_sx.png) no-repeat center;
	}
.zpsy_wrap_c1c dl.dl_3 dt {
	background:url(http://image.lxhrainynet.com/images/zp/index/zpsy_ico_ck.png) no-repeat center;
	}
.zpsy_wrap_c1c dl.dl_4 dt {
	background:url(http://image.lxhrainynet.com/images/zp/index/zpsy_ico_td.png) no-repeat center;
	}
.zpsy_wrap_c1b {
	height:34px;
	line-height:34px;
	padding:26px 24px;
	}
.zpsy_wrap_c1b input[type=button] {
	background:#ff702d;
	width:232px;
	height:34px;
	line-height:34px;
	font-size:14px;
	color:#fff;
	border:none;
	outline:none;
	cursor:pointer;
	}
.zpsy_wrap_c1b input[type=button]:hover {
	background:#ff591f;
	}
/**********zpsy_wrap_c1 end********/	
/**********zpsy_wrap end********/
/**********zpsy_box********/
.zpsy_box {
	width:1002px;
	margin:0 auto 30px;
	}
/**********zpsy_box_t********/
.zpsy_box_t {
	margin:8px 0 0 0;
	overflow:hidden;
	}
.zpsy_box_t ul {
	}
.zpsy_box_t li {
	padding:1px 0;
	font-family:"SimSun";
	font-size:0px;
	float:left;
	display:inline-block;
	}
.zpsy_box_t li.li_r2 {
	margin-right:2px;
	}
/**********zpsy_box_t end********/
/**********zpsy_box_r********/
.zpsy_box_r {
	width:215px;
	padding:34px 0 0 0;
	float:right;
	display:inline-block;
	}
.zpsy_box_rt {
	}
.zpsy_box_rt_h {
	height:22px;
	line-height:22px;
	padding:6px 0 6px 0;
	font-size:14px;
	font-weight:bold;
	color:#ff702d;
	}
.zpsy_box_rt_h span.sp_l {
	border-left:5px solid #ff702d;
	padding:0 0 0 8px;
	display:inline-block;
	}
.zpsy_box_rt_h span.sp_r {
	padding-right:4px;
	font-weight:400;
	color:#ff702d;
	float:right;
	display:inline-block;
	}
.zpsy_box_rt_c {
	padding:4px 2px 4px 6px;
	border:1px solid #ddd;
	}
.zpsy_box_rt_c ul {
	}
.zpsy_box_rt_c li {
	background:url(http://image.lxhrainynet.com/images/zp/index/zpsy_ico_li.png) no-repeat left center;
	height:22px;
	line-height:22px;
	padding-left:8px;
	overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
	}
.zpsy_box_rt_c li a {
	color:#5a5a5a;
	}
.zpsy_box_rt_c li a:hover {
	text-decoration:underline;
	}
.zpsy_box_rc {
	}
.zpsy_box_rc ul {
	}
.zpsy_box_rc li {
	margin-top:13px;
	font-family:"SimSun";
	font-size:0px;
	overflow:hidden;
	}
/**********zpsy_box_r end********/
/**********zpsy_box_l********/
.zpsy_box_l {
	width:780px;
	float:left;
	display:inline-block;
	}
.zpsy_box_lc {
	}
.zpsy_box_lc_h {
	height:32px;
	line-height:32px;
	padding:8px 0 0 0;
	border-bottom:2px solid #ff702d;
	}
.zpsy_box_lc_h span.sp_r {
	margin-right:8px;
	float:right;
	display:inline-block;
	}
.zpsy_box_lc_h span.sp_r a {
	font-size:14px;
	color:#096cb2;
	}
.zpsy_box_lc_h span.sp_r a:hover {
	text-decoration:underline;
	}
.zpsy_box_lc_h span.sp_l {
	font-size:16px;
	color:#ff702d;
	float:left;
	display:inline-block;
	}
.zpsy_box_lc_h span.sp_size {
	width:42px;
	font-size:20px;
	margin:0 0 0 6px;
	display:inline-block;
	}
/**********.zpsy_box_lc_c********/
.zpsy_box_lc_c {
	height:288px;
	padding:3px 0;
	overflow:hidden;
	}
.zpsy_box_lc_cl {
	width:180px;
	height:288px;
	padding:1px 0;
	float:left;
	display:inline-block;
	}
.zpsy_box_lc_cr {
	width:600px;
	height:288px;
	padding:1px 0;
	float:left;
	display:inline-block;
	}
.zpsy_box_lc_cr ul {
	}
.zpsy_box_lc_cr li {
	width:148px;
	height:70px;
	margin:0 0 0 2px;
	padding:1px 0;
	font-family:"SimSun";
	font-size:0px;
	overflow:hidden;
	float:left;
	display:inline-block;
	}
.zpsy_box_lc_cr li.li_w298 {
	width:298px;
	}
/**********.zpsy_box_lc_c end********/
/**********.zpsy_box_lc_b********/
.zpsy_box_lc_b {
	height:95px;
	border:1px solid #ddd;
	}
.zpsy_box_lc_bl {
	width:181px;
	height:93px;
	padding-top:2px;
	border-right:1px solid #ddd;
	float:left;
	display:inline-block;
	}
.zpsy_box_lc_bl ul {
	}
.zpsy_box_lc_bl li {
	padding:4px 8px;
	float:left;
	display:inline-block;
	}
.zpsy_box_lc_bl a {
	width:72px;
	height:20px;
	line-height:20px;
	border:1px solid #ddd;
	border-radius:5px;
	color:#333;
	text-align:center;
	display:inline-block;
	}
.zpsy_box_lc_bl a:hover {
	text-decoration:underline;
	}
.zpsy_box_lc_br {
	width:596px;
	height:91px;
	padding:4px 0 0 0;
	float:left;
	display:inline-block;
	}
.zpsy_box_lc_br ul {
	}
.zpsy_box_lc_br li {
	width:280px;
	height:22px;
	line-height:22px;
	padding:0 10px 0 8px;
	color:#666;
	float:left;
	display:inline-block;
	overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
	}
.zpsy_box_lc_br li a {
	margin-right:5px;
	color:#096cb2;
	}
.zpsy_box_lc_br li a:hover {
	text-decoration:underline;
	}
.zpsy_box_l_benner {
	margin-top:8px;
	height:60px;
	font-family:"SimSun";
	font-size:0px;
	overflow:hidden;
	}
/**********.zpsy_box_lc_b end********/
/**********zpsy_box_l end********/
/**********zpsy_box end********/
/**********zpsy end********/